<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <title></title>
    <!-- Font Awesome -->

    <style>
        body{
            font-size: 10px!important;
        }
        .table{
            width: 100%;
            margin-bottom: .5rem;
            color: #212529;
            border-collapse: collapse;
            display: table;
            border-color: grey;
        }
        table.table thead th {
            border-top: none;
        }
        table.table td, table.table th {
            padding-top: .4rem;
            padding-bottom: .5rem;
        }
        .table thead th {
            vertical-align: bottom;
            /* border-bottom: 2px solid #dee2e6; */
        }
        .table td, .table th {
            /* padding: .75rem; */
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
        table th {
            font-size: .9rem;
            font-weight: 400;
        }
        th {
            text-align: inherit;
        }
        th {
            display: table-cell;
            vertical-align: inherit;
            font-weight: bold;
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0,0,0,.05);
        }
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }
        .font-weight-bold{
            font-weight: bold;
        }
    </style>
</head>

<body>

<table class="table">
    <tr>
        <td>
            <img src="{{ logo }}" alt="" style="width: 120px"><br/>
            <h1>Plateforme de vente de vêtements et <br/>accéssoires vestimentaire en ligne</h1>
        </td>
    </tr>
</table>

<table class="table" style="margin-top: 10px">
    <tr>
        <td style="text-align: left; border-top: none!important; width: 20%">N° FACTURE</td>
        <td style="text-align: left; border-top: none!important;font-weight: bold">: {{ numero }}</td>
    </tr>
    <tr>
        <td style="text-align: left;border-top: none!important;width: 20%">Ref commande</td>
        <td style="text-align: left;border-top: none!important; font-weight: bold">: {{ ref|upper }}</td>
    </tr>
    <tr>
        <td style="text-align: left; border-top: none!important; width: 20%">Date facturation </td>
        <td style="text-align: left; border-top: none!important;font-weight: bold">: {{ date_cmd }}</td>
    </tr>
    <tr>
        <td style="text-align: left; border-top: none!important;width: 20%">Mode depaiement </td>
        <td style="text-align: left; border-top: none!important;font-weight: bold">: {{ (moyen_buy == "OMCIV2")? "Orange Money" : moyen_buy }}</td>
    </tr>

</table>

<table class="table" style="margin-top: 10px">
    <tr>
        <td style="text-align: left; border-top: none!important; width: 50%!important;"></td>
        <td style="text-align: left; border-top: none!important;">
            <table class="table" style="margin-top: 10px">
                <tr>
                    <td style="text-align: left; border-top: none!important;">Nom client</td>
                    <td style="text-align: left; border-top: none!important; font-weight: bold">: {{ name }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; border-top: none!important;">Contact client</td>
                    <td style="text-align: left; border-top: none!important; font-weight: bold">: {{ tel }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; border-top: none!important;">Lieu de livraison</td>
                    <td style="text-align: left; border-top: none!important; font-weight: bold">: {{ lieu }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; border-top: none!important;">Date de livraison</td>
                    <td style="text-align: left; border-top: none!important; font-weight: bold">: {{ date_livraison }}</td>
                </tr>
            </table>
        </td>
    </tr>

</table>

<table class="table">
    <tr>
        <td colspan="2" style="border-top: none!important;">
            <h3 style="font-size: 11px!important;"><u>FACTURE PROFORMA N° {{ numero }}</u></h3>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom produit</th>
        <th>Ref produit</th>
        <th style="text-align: center">Quantité</th>
        <th style="text-align: right">Montant</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td style="font-style: italic">{{ item.product.productName }}</td>
            <td style="font-style: italic">{{ item.product.partner.partnerCode }}</td>
            <td style="text-align: center;font-style: italic">{{ item.qte }}</td>
            <td style="text-align: right; font-style: italic">
                {% if item.product.productReduction|length != 0 %}
                     {% set priceReduction = (item.product.productPrice * item.product.productReduction)/100 %}
                    {{ ((item.product.productPrice + priceReduction) * item.qte)|number_format(0,' ', ' ') }} F CFA
                {% else %}
                    {{ (item.product.productPrice * item.qte)|number_format(0,' ', ' ') }} F CFA
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3" style="text-transform: uppercase">Montant Total</td>
        <td style="font-weight: bold; text-align: right; color: black"> {{ sub_total|number_format(0,' ', ' ') }} F CFA</td>
    </tr>
    <tr>
        <td colspan="3" style="text-transform: uppercase">Montant de la livraison</td>
        <td style="font-weight: bold; text-align: right; color: black"> {{ amount_livraison|number_format(0,' ', ' ') }} F CFA</td>
    </tr>
    <tr>
        <td colspan="3" style="text-transform: uppercase">Montant total facture</td>
        <td style="font-weight: bold; text-align: right; color: black"> {{ (montant_total_fac)|number_format(0,' ', ' ') }} F CFA</td>
    </tr>
    <tr>
        <td colspan="3" style="text-transform: uppercase">Montant payé en ligne</td>
        <td style="font-weight: bold; text-align: right; color: black"> {{ (amount_buyed)|number_format(0,' ', ' ') }} F CFA</td>
    </tr>

    <tr>
        <td colspan="3" style="text-transform: uppercase">Reste à payer en espèce</td>
        <td style="font-weight: bold; text-align: right; color: #cd322c"> {{ (montant_total_fac - amount_buyed)|number_format(0,' ', ' ') }} F CFA</td>
    </tr>
    </tbody>
</table>

<table style="margin-top: 10px">
    <tr>
        <td colspan="2" style="color: red;"><span style="font-weight: bold">NB:</span>
            <small>Cette facture n'est valide que si elle comporte le cachet et/ou la signature du responsable. **</small>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right;font-weight: bold">Signature/Cachet</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right; font-weight: bold">
            <img src="{{ qr_code }}" alt="" style="width: 100px!important;">
        </td>
    </tr>
</table>
<table style="margin-top: 10px">
    <tr>
        <td colspan="2" style="color: darkgray; text-align: center">
            <small>SAPEURDEBABY | CÔTE D'IVOIRE, ABIDJAN, COCODY SAINT JEAN | e.<span style="color: rgba(194,164,66,0.56)!important; font-weight: bold">CONTACT@SAPEURDEBABY.COM</span>
                <br/>| m.<span style="color: rgba(194,164,66,0.56)!important; font-weight: bold">(+225) 01 53 22 26 28</span> | N°RCCM : CI-ABJ-2019-B-11629 </small>
        </td>
    </tr>
</table>

<!-- Latest compiled and minified JavaScript -->
</body>

</html>
