{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - CREATION DE COMPTE{% endblock %}

{% block slider %}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}

<div class="page_wrapper">

    <div class="container">
        <h1 class="bold">Création de compte </h1>
        <hr/>
        <div class="row" style="margin-top: 30px">

            {{ form_start(form) }}

            <div class="col-md-6 form-group">{{ form_row(form.civility) }}</div>
            <div class="col-md-6 form-group">{{ form_row(form.partner_firstname) }}</div>
            <div class="col-md-6 form-group">{{ form_row(form.partner_lastname) }}</div>
            <div class="col-md-6 form-group">{{ form_row(form.partner_phone) }}</div>
            <div class="col-md-7 form-group">{{ form_row(form.partner_shop_name) }}</div>
            <div class="col-md-5 form-group">{{ form_row(form.partner_residence) }}</div>
            <div class="col-md-6 form-group">{{ form_row(form.type_room) }}</div>
            <div class="col-md-6 form-group">{{ form_row(form.partner_nroom) }}</div>
            <div class="col-md-12 form-group">{{ form_row(form.email) }}</div>
            <div class="col-md-6 form-group">{{ form_row(form.password.first, {'attr': {'placeholder': 'Mot de passe'}}) }}</div>
            <div class="col-md-6 form-group">{{ form_row(form.password.second, {'attr': {'placeholder': 'Confirmez votre mot de passe'}}) }}</div>

            <div class="col-md-12" style="margin-top: 30px">
                <hr>
                <div class="form-group" style="margin-top: 30px">
                    <p>En cliquant sur "<b>Créer mon compte</b>", vous acceptez nos <a href="#" class="text-info">conditions et politiques</a> d'utilisation des cookies</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="checkBox" required>
                    <label class="form-check-label" for="checkBox">
                        J'accepte les conditions et politiques
                    </label>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top: 20px">
                <button class="border" id="btnCreateAccount" type="submit" style="background-color: #febd2b; padding: 10px; border-radius: 4px; color: white; font-weight: bold">
                    <i class="fas fa-sign-out-alt" style="margin-top: 4px"></i> Créer mon compte</i>
                </button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>

{% endblock %}
