{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - MON PANIER{% endblock %}


{% block slider %}{% endblock %}


{% block content %}

    <div class="wide_layout">


        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="{{ path('home_index') }}">Accueil</a></li>
                    <li>Congratulation</li>

                </ul>

                <section class="section_offset">

                    <h1 style="margin-right: 10px; font-weight: bold; color: #7ea086"><span class="icon-check-3">
                        </span>Félicitation, paiement effectué avec succès !</h1>

                    <!-- - - - - - - - - - - - - - Shopping cart table - - - - - - - - - - - - - - - - -->

                    <div class="table_wrap">

                        <table class="table_type_1 shopping_cart_table">

                            <tbody>

                            <tr>
                                <td colspan="2">
                                    <h3>Information sur le paiement</h3>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>Reference de paiement</td>
                                <td><h5 style="font-weight: bold">: {{ ref }}</h5></td>
                            </tr>
                            <tr>
                                <td>ID Transaction </td>
                                <td><h5 style="font-weight: bold">: {{ idTrans }}</h5></td>
                            </tr>
                            <tr>
                                <td>Opérateur </td>
                                <td>
                                    <h5 style="font-weight: bold">:
                                        {{ chanel }}
                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <td>Montant Opération</td>
                                <td><h5 style="font-weight: bold">: {{ amount|number_format(0, " ", "") }} XOF</h5></td>
                            </tr>
                            <tr>
                                <td>Date Transaction</td>
                                <td><h5 style="font-weight: bold">: {{ trans_at }}</h5></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="icon-credit-card"></span> Paiement sécurisé en cas de problème, veuillez contacter notre service technique
                                    <br>
                                    <span class="icon-phone-3"> (+225) 07 57 37 36 18</span><br>
                                    <span class="icon-mail-1"> support@sapeurdebaby.com</span><br>
                                </td>
                            </tr>

                            </tbody>

                        </table>

                    </div><!--/ .table_wrap -->


                    <!-- - - - - - - - - - - - - - End of shopping cart table - - - - - - - - - - - - - - - - -->

                </section><!--/ .section_offset -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->

        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->

{% endblock %}