{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - BIENVENUE{% endblock %}


{% block content %}
<div class="page_wrapper">

    <div class="container">

        <div class="row">

            {% include '_category_home.html.twig' %}

            <main class="col-md-12 col-sm-12">

                <!-- - - - - - - - - - - - - - Medicine & Health - - - - - - - - - - - - - - - - -->

                <section class="section_offset animated transparent" data-animation="fadeInDown">

                    <div class="widget-head">
                        <h3 class="offset_title">Nouvelle collection</h3>
                    </div>

                    <div class="tabs type_3 products">

                        <div class="row">
                            {% if products is defined and products is not null %}

                                {% for item in products %}

                                    <div class="col-md-3">

                                        <div class="product_item">

                                            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                            <div class="image_wrap">

                                                <img src="{{ asset('product/')~item.productImage }}" alt="" style="width: 243px!important;">

                                                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                <div class="actions_wrap">

                                                    <div class="centered_buttons">

                                                        <a href="#" class="button_blue middle_btn add_to_cart">Ajout au panier</a>

                                                    </div><!--/ .centered_buttons -->

                                                    <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Ajout en favori</span></a>

                                                </div><!--/ .actions_wrap-->

                                                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}

                                                    <div class="label_offer percentage">

                                                        <div>{{ item.productReduction }}%</div>OFF

                                                    </div>

                                                {% endif %}

                                                <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                            </div><!--/. image_wrap-->

                                            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                            <div class="description">

                                                {% if item.productDescription is defined and item.productDescription is not null and item.productDescription|length != 0 %}
                                                    <a href="#">{{ item.productDescription|raw }}</a>
                                                {% endif %}

                                                <div class="clearfix product_info">

                                                    {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                        <p class="product_price alignleft"><s>{{ item.productPrice }} CFA</s> <b>{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice) }} CFA</b></p>
                                                    {% else %}
                                                        <p class="product_price alignleft"><b>{{ item.productPrice }} CFA</b></p>
                                                    {% endif %}

                                                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                    <ul class="rating alignright">

                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li></li>

                                                    </ul>

                                                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                </div>

                                            </div>

                                            <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .product_item-->

                                    </div>

                                {% endfor %}

                            {% endif %}
                        </div>

                    </div>

                </section>

                <!-- - - - - - - - - - - - - - End of Medicine & Health - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - New arrivals - - - - - - - - - - - - - - - - -->

                <section class="section_offset animated transparent" data-animation="fadeInDown">

                    <div class="widget-head">
                        <h3>Nos meilleurs ventes</h3>
                    </div>


                </section><!--/ .section_offset-->

                <!-- - - - - - - - - - - - - - End of new arrivals - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Latest News - - - - - - - - - - - - - - - - -->

                <section class="section_offset animated transparent" data-animation="fadeInDown">

                    <div class="widget-head">
                        <h3>Latest News</h3>
                    </div>

                    <div class="table_layout">

                        <div class="table_row">

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <div class="table_cell">

                                <article class="entry">

                                    <a href="#" class="thumbnail entry_image">

                                        <img src="{{ asset('bootstrap/') }}images/news_img_1.jpg" alt="">

                                    </a>

                                    <h5 class="entry_title"><a href="#"><b>Vestibulum sed ante</b></a></h5>

                                    <div class="entry_meta">

                                        <span><i class="icon-calendar"></i> 2014-08-05 07:01:49</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                    </div><!--/ .byline-->

                                    <p>Ut tellus dolor, dapibus eget,elem vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat...</p>

                                </article><!--/ .entry-->

                            </div>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <div class="table_cell">

                                <article class="entry">

                                    <a href="#" class="thumbnail entry_image">

                                        <img src="{{ asset('bootstrap/') }}images/news_img_2.jpg" alt="">

                                    </a>

                                    <h5 class="entry_title"><a href="#"><b>Donec porta diam eu massa</b></a></h5>

                                    <div class="entry_meta">

                                        <span><i class="icon-calendar"></i> 2014-08-05 07:01:49</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 5</a></span>

                                    </div><!--/ .byline-->

                                    <p>Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>

                                </article><!--/ .entry-->

                            </div>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <div class="table_cell">

                                <article class="entry">

                                    <a href="#" class="thumbnail entry_image">

                                        <img src="{{ asset('bootstrap/') }}images/news_img_3.jpg" alt="">

                                    </a>

                                    <h5 class="entry_title"><a href="#"><b>Sed ut perspiciatis unde omnis</b></a></h5>

                                    <div class="entry_meta">

                                        <span><i class="icon-calendar"></i> 2014-08-05 07:01:49</span>

                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 0</a></span>

                                    </div><!--/ .byline-->

                                    <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, eleifend, elit. Aenean auctor wisi...</p>

                                </article><!--/ .entry-->

                            </div>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </div>

                    </div>

                </section><!--/ .section_offset.aniamted.transparent-->

                <!-- - - - - - - - - - - - - - End of latest news - - - - - - - - - - - - - - - - -->

            </main>
        </div>
    </div>
</div>

{% endblock %}
