{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - BIENVENUE{% endblock %}


{% block content %}
<div class="page_wrapper">

    <div class="container">

        <div class="row">

            {% include '_category_home.html.twig' %}

            <main class="col-md-12 col-sm-12">

                <section class="section_offset">

                    <div class="widget-head">
                        <h4 class="offset_title">Produits aléatoires</h4>
                    </div>

                    <div class="owl_carousel other_products">

                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                        {% if products is defined and products is not null %}

                            {% for item in products %}

                                <div class="product_item">

                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                    <div class="image_wrap">

                                        <a href="{{ path('view_product_detail', {'id': item.id }) }}" class="">
                                            <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt=""
                                                 style="">
                                        </a>

                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                        {% if item.productReduction is defined and item.productReduction
                                            is not null and item.productReduction|length != 0 and item.qualityProduct == "medium_quality" %}
                                            <div class="label_offer percentage">

                                                <div>{{ item.productReduction }}%</div>OFF

                                            </div>
                                        {% endif %}

                                        {% if item.qualityProduct == "best_quality" %}
                                            <div class="label_offer percentage" style="background-color: goldenrod">
                                                <span class="icon-star"></span>
                                                <div style="font-size: 10px" class="">Offre</div>
                                                <div>VIP</div>

                                            </div>
                                        {% endif %}


                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                    </div><!--/. image_wrap-->

                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                    <div class="description">

                                        <h4>{{ (item.productName|length >= 14) ? item.productName|slice(0,13)~"..." : item.productName }}</h4>

                                        <div class="clearfix product_info">

                                            {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                <p class="product_price alignleft"><s style="font-size: 12px; margin-right: 10px">{{ item.productPrice }} CFA</s>
                                                    <b style="font-size: 17px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                            {% else %}
                                                <p class="product_price alignleft"><b style="font-size: 17px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></p>
                                            {% endif %}

                                        </div>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                </div><!--/ .product_item-->

                            {% endfor %}

                        {% endif %}

                        <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

                    </div><!--/ .owl_carousel -->

                </section><!--/ .section_offset -->


                <!-- - - - - - - - - - - - - - Collection Homme - - - - - - - - - - - - - - - - -->

                {% if collection_man is defined and collection_man|length >0 %}
                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <div class="widget-head">
                            <h4 class="offset_title">Collection Homme</h4>
                        </div>

                        <div class="tabs type_3 products">

                            <div class="row">
                                {% for item in collection_man %}

                                    <div class="col-md-3" style="margin-bottom: 25px!important;">

                                        <div class="product_item">

                                            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                            <div class="image_wrap">

                                                <a href="{{ path('view_product_detail', {'id': item.id}) }}" class="">
                                                    <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt="">
                                                </a>

                                                <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                {% if item.productReduction is defined and item.productReduction
                                                    is not null and item.productReduction|length != 0 and item.qualityProduct == "medium_quality" %}
                                                    <div class="label_offer percentage">
                                                        <div>{{ item.productReduction }}%</div>OFF
                                                    </div>
                                                {% endif %}

                                                {% if item.qualityProduct == "best_quality" %}
                                                    <div class="label_offer percentage" style="background-color: goldenrod">
                                                        <span class="icon-star"></span>
                                                        <div style="font-size: 10px" class="">Offre</div>
                                                        <div>VIP</div>

                                                    </div>
                                                {% endif %}


                                                <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                            </div><!--/. image_wrap-->

                                            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                            <div class="description">

                                                <h4>{{ (item.productName|length >= 14) ? item.productName|slice(0,13)~"..." : item.productName }}</h4>

                                                <div class="clearfix product_info" style="margin-top: 10px">

                                                    {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                        <p class="product_price alignleft"><s style="font-size: 12px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                            <b style="font-size: 17px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                                    {% else %}
                                                        <p class="product_price alignleft"><b style="font-size: 17px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></p>
                                                        <br>
                                                    {% endif %}

                                                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                    <ul class="rating alignright">

                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li></li>

                                                    </ul>

                                                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                </div>

                                            </div>

                                            <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .product_item-->

                                    </div>

                                {% endfor %}
                            </div>

                        </div>

                    </section>
                {% endif %}

                <!-- - - - - - - - - - - - - - End collection homme - - - - - - - - - - - - - - - - -->


                <!-- - - - - - - - - - - - - - Collection Femme - - - - - - - - - - - - - - - - -->

                {% if collection_wife is defined and collection_wife|length >0 %}
                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <div class="widget-head">
                            <h4 class="offset_title">Collection Femme</h4>
                        </div>

                        <div class="tabs type_3 products">

                            <div class="row">
                                {% for item in collection_wife %}

                                    <div class="col-md-3" style="margin-bottom: 25px!important;">

                                        <div class="product_item">

                                            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                            <div class="image_wrap">

                                                <a href="{{ path('view_product_detail', {'id': item.id}) }}" class="">
                                                    <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt="">
                                                </a>

                                                <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                {% if item.productReduction is defined and item.productReduction
                                                    is not null and item.productReduction|length != 0 and item.qualityProduct == "medium_quality" %}
                                                    <div class="label_offer percentage">

                                                        <div>{{ item.productReduction }}%</div>OFF

                                                    </div>
                                                {% endif %}

                                                {% if item.qualityProduct == "best_quality" %}
                                                    <div class="label_offer percentage" style="background-color: goldenrod">
                                                        <span class="icon-star"></span>
                                                        <div style="font-size: 10px" class="">Offre</div>
                                                        <div>VIP</div>

                                                    </div>
                                                {% endif %}


                                                <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                            </div><!--/. image_wrap-->

                                            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                            <div class="description">
                                                <h4>{{ (item.productName|length >= 14) ? item.productName|slice(0,13)~"..." : item.productName }}</h4>

                                                <div class="clearfix product_info" style="margin-top: 10px">

                                                    {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                        <p class="product_price alignleft"><s style="font-size: 14px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                            <b style="font-size: 25px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                                    {% else %}
                                                        <p class="product_price alignleft"><b style="font-size: 25px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></p> <br>
                                                    {% endif %}

                                                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                    <ul class="rating alignright">

                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li></li>

                                                    </ul>

                                                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                </div>

                                            </div>

                                            <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .product_item-->

                                    </div>

                                {% endfor %}
                            </div>

                        </div>

                    </section>
                {% endif %}

                <!-- - - - - - - - - - - - - - End collection femme - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Collection Enfant - - - - - - - - - - - - - - - - -->

                {% if collection_baby is defined and collection_baby|length >0 %}
                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <div class="widget-head">
                            <h4 class="offset_title">Collection Enfant</h4>
                        </div>

                        <div class="tabs type_3 products">

                            <div class="row">
                                {% for item in collection_baby %}

                                    <div class="col-md-3" style="margin-bottom: 25px!important;">

                                        <div class="product_item">

                                            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                            <div class="image_wrap">

                                                <a href="{{ path('view_product_detail', {'id': item.id}) }}" class="">
                                                    <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt="">
                                                </a>

                                                <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                {% if item.productReduction is defined and item.productReduction
                                                    is not null and item.productReduction|length != 0 and item.qualityProduct == "medium_quality" %}
                                                    <div class="label_offer percentage">

                                                        <div>{{ item.productReduction }}%</div>OFF

                                                    </div>
                                                {% endif %}

                                                {% if item.qualityProduct == "best_quality" %}
                                                    <div class="label_offer percentage" style="background-color: goldenrod">
                                                        <span class="icon-star"></span>
                                                        <div style="font-size: 10px" class="">Offre</div>
                                                        <div>VIP</div>

                                                    </div>
                                                {% endif %}


                                                <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                            </div><!--/. image_wrap-->

                                            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                            <div class="description">

                                                <h4>{{ (item.itemuctName|length >= 14) ? item.productName|slice(0,13)~"..." : item.productName }}</h4>

                                                <div class="clearfix product_info" style="margin-top: 10px">

                                                    {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                        <p class="product_price alignleft"><s style="font-size: 12px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                            <b style="font-size: 17px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                                    {% else %}
                                                        <p class="product_price alignleft"><b style="font-size: 17px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></p>
                                                        <br>
                                                    {% endif %}

                                                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                    <ul class="rating alignright">

                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li></li>

                                                    </ul>

                                                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                </div>

                                            </div>

                                            <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .product_item-->

                                    </div>

                                {% endfor %}
                            </div>

                        </div>

                    </section>
                {% endif %}

                <!-- - - - - - - - - - - - - - End collection Enfant - - - - - - - - - - - - - - - - -->


                <!-- - - - - - - - - - - - - - Collection Sport - - - - - - - - - - - - - - - - -->

                {% if collection_sport is defined and collection_sport|length >0 %}
                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <div class="widget-head">
                            <h4 class="offset_title">Collection Sport</h4>
                        </div>

                        <div class="tabs type_3 products">

                            <div class="row">
                                {% for item in collection_sport %}

                                    <div class="col-md-3" style="margin-bottom: 25px!important;">

                                        <div class="product_item">

                                            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                            <div class="image_wrap">

                                                <a href="{{ path('view_product_detail', {'id': item.id}) }}" class="">
                                                    <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt="">
                                                </a>

                                                <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                {% if item.productReduction is defined and item.productReduction
                                                    is not null and item.productReduction|length != 0 and item.qualityProduct == "medium_quality" %}
                                                    <div class="label_offer percentage">

                                                        <div>{{ item.productReduction }}%</div>OFF

                                                    </div>
                                                {% endif %}

                                                {% if item.qualityProduct == "best_quality" %}
                                                    <div class="label_offer percentage" style="background-color: goldenrod">
                                                        <span class="icon-star"></span>
                                                        <div style="font-size: 10px" class="">Offre</div>
                                                        <div>VIP</div>

                                                    </div>
                                                {% endif %}


                                                <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                            </div><!--/. image_wrap-->

                                            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                            <div class="description">

                                                <h4>{{ (item.productName|length >= 14) ? item.productName|slice(0,13)~"..." : item.productName }}</h4>

                                                <div class="clearfix product_info">

                                                    {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                        <p class="product_price alignleft"><s style="font-size: 14px">{{ item.productPrice }} CFA</s>
                                                            <b style="font-size: 25px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice) }} CFA</b></p>
                                                    {% else %}
                                                        <p class="product_price alignleft"><b style="font-size: 25px">{{ item.productPrice }} CFA</b></p>
                                                        <br>
                                                    {% endif %}

                                                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                    <ul class="rating alignright">

                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li class="active"></li>
                                                        <li></li>

                                                    </ul>

                                                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                </div>

                                            </div>

                                            <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .product_item-->

                                    </div>

                                {% endfor %}
                            </div>

                        </div>

                    </section>
                {% endif %}

                <!-- - - - - - - - - - - - - - End collection sport - - - - - - - - - - - - - - - - -->


                <section class="section_offset animated transparent" data-animation="fadeInDown">

                    <div class="table_layout">

                        <div class="col" style="text-align: center;">

                            <h3 ><b>Sapeur2baby</b>, la plateforme des Sapeurs,
                                numero 1 en Côte d'Ivoire<br/>
                            </h3>

                        </div>

                    </div>

                </section><!--/ .section_offset.aniamted.transparent-->

                <!-- - - - - - - - - - - - - - End of latest news - - - - - - - - - - - - - - - - -->

            </main>
        </div>
    </div>
</div>

{% endblock %}
