{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - MON PANIER{% endblock %}


{% block slider %}{% endblock %}


{% block content %}

<div class="wide_layout">


    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><a href="{{ path('home_index') }}">Accueil</a></li>
                <li>Mon panier</li>

            </ul>

            <div class="row">
                <div class="col-md-12">
                    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                        {% for message in messages %}
                            <div style="font-size: 17px !important;" class="alert alert-{{ label }} p-3 alert-dismissible fade show text-left" role="alert" id="alertMsg">
                                {{ message|raw }}
                                <button type="button" class="close arcticmodal-close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <section class="section_offset">

                <h2>Mon panier</h2>

                <!-- - - - - - - - - - - - - - Shopping cart table - - - - - - - - - - - - - - - - -->

                <div class="table_wrap">

                    <table class="table_type_1 shopping_cart_table">

                        <thead>

                        <tr>
                            <th class="product_image_col">Image</th>
                            <th class="product_title_col">Nom produit</th>
                            <th>Ref</th>
                            <th>Prix</th>
                            <th class="product_qty_col">Quantité</th>
                            <th>Montant</th>
                            <th class="product_actions_col">#</th>
                        </tr>

                        </thead>

                        <tbody>

                        {% if product_session is defined and product_session|length > 0 %}

                            {% for product in product_session %}

                                <tr>

                                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->

                                    <td class="product_image_col" data-title="Product Image">
                                        <img src="{{ asset('sapeuradmin/product/')~product.product_session.productImage }}" alt=""
                                             style="">

                                    </td>

                                    <!-- - - - - - - - - - - - - - End of product Image - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->

                                    <td data-title="Product Name">

                                        <a class="product_title">
                                            {{ (product.product_session.productName|length >= 14) ? product.product_session.productName|slice(0,13)~
                                            "..." : product.product_session.productName }}
                                        </a>

                                        {% if product.product_session.productReduction is defined and product.product_session.productReduction
                                            is not null and product.product_session.productReduction|length != 0 and product.product_session.qualityProduct == "medium_quality" %}
                                            <div style="color: #ff4557; font-weight: bold">{{ product.product_session.productReduction }}% OFF</div>
                                        {% endif %}

                                    </td>

                                    <!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - SKU - - - - - - - - - - - - - - - - -->

                                    <td data-title="SKU">

                                        {{ product.product_session.partner.partnerCode }}

                                    </td>

                                    <!-- - - - - - - - - - - - - - End of SKU - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->

                                    <td class="subtotal" data-title="Price">

                                        {% if product.product_session.productReduction is defined and product.product_session.productReduction|length > 0  %}
                                            {% set prixReduction = (product.product_session.productReduction * product.product_session.productPrice)/100 %}
                                            <b class="theme_color">{{ (product.product_session.productPrice + prixReduction)|number_format(0, " ", " ") }} CFA</b>
                                        {% else %}
                                            <b class="theme_color">{{ product.product_session.productPrice|number_format(0, " ", " ") }} CFA</b>
                                        {% endif %}

                                    </td>

                                    <!-- - - - - - - - - - - - - - End of Price - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

                                    <td data-title="Quantity">

                                        <div class="qty min clearfix">

                                            {#<button class="theme_button"  data-direction="minus">&#45;</button>#}
                                            <input type="number" id="qte{{ product.product_session.id }}" name="qte"
                                                   max="{{ product.product_session.productStock }}" value="{{ product.qte }}" min="1" onclick="ModifyQteProduct({{ product.product_session.id }})">
                                            {#<button class="theme_button" onclick="ModifyQteProduct({{ product.product_session.id }})" data-direction="plus">&#43;</button>#}

                                        </div><!--/ .qty.min.clearfix-->

                                    </td>

                                    <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Total - - - - - - - - - - - - - - - - -->

                                    <td data-title="Total">
                                        <span style="color: #cb9700" id="mnt{{ product.product_session.id }}">
                                            {% if product.product_session.productReduction is defined and product.product_session.productReduction|length > 0  %}
                                                {% set prixReduction = (product.product_session.productReduction * product.product_session.productPrice)/100 %}
                                                    {{ ((product.product_session.productPrice + prixReduction) * product.qte)|number_format(0, " ", " ")  }}
                                            {% else %}
                                                {{ (product.product_session.productPrice * product.qte)|number_format(0, " ", " ") }}
                                            {% endif %}
                                        </span>
                                        <span style="color: #febd2b"> CFA</span>
                                    </td>

                                    <!-- - - - - - - - - - - - - - End of total - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Action - - - - - - - - - - - - - - - - -->

                                    <td data-title="Action">
                                        <a href="{{ path('remove_prod', {'id': product.product_session.id }) }}" class="button_dark_grey icon_btn remove_product"
                                           style="background-color: #ff4557"><i class="icon-cancel-2"></i></a>
                                    </td>

                                    <!-- - - - - - - - - - - - - - End of action - - - - - - - - - - - - - - - - -->

                                </tr>

                            {% endfor %}

                        {% else %}

                            <tr>
                                <td colspan="7">Votre panier est vide !</td>
                            </tr>

                        {% endif %}

                        </tbody>

                    </table>

                </div><!--/ .table_wrap -->

                <footer class="bottom_box on_the_sides">

                    <div class="left_side">

                        <a href="{{ path('home_index') }}" class="button_blue middle_btn">Continuer l'achat</a>

                    </div>

                    <div class="right_side">

                        <a data-modal-url="{{ asset('bootstrap/modals/alert.html.twig') }}" class="button_grey middle_btn">Vider mon panier</a>

                    </div>

                </footer><!--/ .bottom_box -->

                <!-- - - - - - - - - - - - - - End of shopping cart table - - - - - - - - - - - - - - - - -->

            </section><!--/ .section_offset -->

            <div class="section_offset">

                <div class="row">

                    <section class="col-sm-4">

                        <h4>Codes de réduction</h4>

                        <div class="theme_box">

                            <p class="form_caption">Entrez votre code de coupon si vous en avez un.</p>

                            <form id="discount_code">

                                <ul>

                                    <li class="row">

                                        <div class="col-xs-12">

                                            <input type="text" name="">

                                        </div>

                                    </li>

                                </ul>

                            </form>

                        </div><!--/ .theme_box -->

                        <footer class="bottom_box">

                            <button type="submit" form="discount_code" class="button_grey middle_btn">Appliquer Coupon</button>

                        </footer>

                    </section><!--/ [col] -->

                    <form id="estimate_shipping" method="post" action="{{ path('start_command') }}" class="type_2">

                        <section class="col-sm-4">

                            <h4>Vos information pour valider la commande</h4>

                            <div class="theme_box">

                                <p class="form_caption">Entrer vos informations pour terminer la commande</p>

                                    <div class="col-lg-12 col-md-12">
                                        <label for="name" class="required bold">Nom & Prénom(s)</label>
                                        <input type="text" required name="name" id="name">
                                    </div><!--/ [col] -->
                                    <div class="col-lg-12 col-md-12">
                                        <label for="contact" class="required bold">Numéro de téléphone</label>
                                        <input type="tel" required name="contact" pattern="^[0-9]{10}" maxlength="10" placeholder="0102010124" id="contact">
                                    </div><!--/ [col] -->

                                    <div class="col-lg-12 col-md-12">
                                        <label for="lieu" class="required bold">Lieu de livraison</label>
                                        <input type="text" required name="lieu" id="lieu">
                                    </div><!--/ [col] -->

                            </div><!--/ .theme_box -->

                        </section><!--/ [col] -->

                        <section class="col-sm-4">

                            <h4>Total</h4>

                            <div class="table_wrap">

                                <table class="zebra">

                                    <tfoot>

                                    <tr>
                                        <td>Sous total</td>
                                        <td><span class="total">{{ total|number_format(0, " ", " ") }}</span> <span style="color: #cb9700">CFA</span></td>
                                    </tr>

                                    <tr >
                                        <td>Total</td>
                                        <td ><span class="total">{{ total|number_format(0, " ", " ") }}</span> <span style="color: #cb9700">CFA</span></td>
                                    </tr>

                                    </tfoot>

                                </table>

                            </div>

                            <div class="col-lg-12 col-md-12" style="margin-top: 15px !important; margin-bottom: 20px!important;">
                                <label for="buy" class="required bold">Moyen de paiement</label>
                                <select name="buy" id="buy" required>
                                    <option value="">-- Payer par ? --</option>
                                    <option value="OMCIV2">Orange Money - OM</option>
                                    <option value="FlOOZ">Moov Money - Flooz</option>
                                    <option value="MOMO">MTN Money - MOMO</option>
                                    <option value="CARD">Visa CARD</option>
                                </select>
                            </div><!--/ [col] -->

                            <footer class="bottom_box">
                                {% if product_session is defined and product_session|length > 0 %}
                                    <button class="middle_btn" style="background-color: #cb9700; color: white" type="submit">
                                        <i class="icon-lock"></i>Je paye <b id="dix_pourcent">{{ dix_pourcent|number_format(0," ", " ") }} F</b> avant la livraison</button>
                                {% endif %}
                            </footer>

                            {#
                            <footer class="bottom_box" id="cash">
                                {% if product_session is defined and product_session|length > 0 %}
                                    <button class="middle_btn" style="background-color: #cb9700; color: white" type="submit">
                                        <i class="icon-lock"></i> Je paye cash en ligne</button>
                                {% endif %}
                            </footer>#}

                        </section><!-- / [col] -->

                    </form>

                </div><!--/ .row -->

            </div><!--/ .section_offset -->

            <section class="section_offset">

                <h4 class="offset_title">Vous pouvez voir aussi</h4>

                <!-- - - - - - - - - - - - - - Carousel of you might also like - - - - - - - - - - - - - - - - -->

                <div class="owl_carousel six_items">

                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                    {% for product in products %}

                        <div class="product_item">

                            <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                            <div class="image_wrap">

                                <a href="{{ path('view_product_detail', {'id': product.id}) }}">

                                <img data-zoom-image="{{ asset('sapeuradmin/product')~product.productImage }}"
                                     src="{{ asset('sapeuradmin/product/')~product.productImage }}" alt="">

                                </a>

                            </div><!--/. image_wrap-->

                            <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                            {% if product.productReduction is defined and product.productReduction
                                is not null and product.productReduction|length != 0 and product.qualityProduct == "medium_quality" %}
                                <div class="label_offer percentage">

                                    <div>{{ product.productReduction }}%</div>OFF

                                </div>
                            {% endif %}

                            {% if product.qualityProduct == "best_quality" %}
                                <div class="label_offer percentage" style="background-color: goldenrod">
                                    <span class="icon-star"></span>
                                    <div style="font-size: 10px" class="">Offre</div>
                                    <div>VIP</div>

                                </div>
                            {% endif %}

                            <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                            <div class="description">

                                <h4>{{ (product.productName|length >= 10) ? product.productName|slice(0,10)~"..." : product.productName }}</h4>

                                <div class="clearfix product_info">

                                    <p class="product_price">
                                        {% if product.productReduction is defined and product.productReduction is not null and product.productReduction|length != 0 %}
                                        <p class="product_price alignleft"><s style="font-size: 12px; margin-right: 5px">{{ product.productPrice|number_format(0, " ", " ") }} CFA</s>
                                            <b style="font-size: 17px">{{ (((product.productPrice * product.productReduction)/100) +   product.productPrice)|number_format(0, " ", " ") }} F</b></p>
                                        {% else %}
                                            <p class="product_price alignleft"><b style="font-size: 17px">{{ product.productPrice|number_format(0, " ", " ") }} F</b></p>
                                        {% endif %}

                                    <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

                                </div><!--/ .clearfix.product_info-->

                            </div>

                            <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                        </div><!--/ .product_item-->

                    {% endfor %}

                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                </div><!--/ .owl_carousel-->

                <!-- - - - - - - - - - - - - - End of you might also like - - - - - - - - - - - - - - - - -->

            </section>

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->

    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

{% endblock %}