{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - DETAIL PRODUIT{% endblock %}


{% block content %}
    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->
            <ul class="breadcrumbs">

                <li><a href="{{ path('home_index') }}">Accueil</a></li>
                <li><a href="#">Détail</a></li>
                <li><a href="#">Produit</a></li>
                <li>{{ product_item.productName }}</li>

            </ul>

            <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

            <div class="row">

                <div class="col-md-12">
                    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                        {% for message in messages %}
                            <div style="font-size: 17px !important;" class="alert alert-{{ label }} p-3 alert-dismissible fade show text-left" role="alert" id="alertMsg">
                                {{ message|raw }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true" class="text-dark">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="col-md-12" id="MsgCart">
                    <div style="font-size: 17px !important; color: #ececec" class="alert  p-3 alert-dismissible fade show text-left" role="alert" id="alertMsgAddcart">
                        <span class="icon-cart" style="margin-right: 10px; "></span>Elément ajouté au panier !
                    </div>
                </div>
                <div class="col-md-12" id="MsgFavori">
                    <div style="font-size: 17px !important; color: #ececec" class="alert  p-3 alert-dismissible fade show text-left" role="alert" id="alertMsgAddFavori">
                        <span class="icon-heart" style="margin-right: 10px"></span>Elément ajouté au en favori !
                    </div>
                </div>

                <main class="col-md-9 col-sm-8">

                    <!-- - - - - - - - - - - - - - Product images & description - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <div class="clearfix">

                            <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

                            <div class="single_product">

                                <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

                                <div class="image_preview_container">

                                    <img id="img_zoom" data-zoom-image="{{ asset('sapeuradmin/product')~product_item.productImage }}"
                                         src="{{ asset('sapeuradmin/product/')~product_item.productImage }}" alt="">

                                    {% if product_item.productReduction is defined and product_item.productReduction
                                        is not null and product_item.productReduction|length != 0 and product_item.qualityProduct == "medium_quality" %}
                                        <div class="label_offer percentage">

                                            <div>{{ product_item.productReduction }}%</div>OFF

                                        </div>
                                    {% endif %}

                                    {% if product_item.qualityProduct == "best_quality" %}
                                        <div class="label_offer percentage" style="background-color: goldenrod">
                                            <span class="icon-star"></span>
                                            <div style="font-size: 10px" class="">Offre</div>
                                            <div>VIP</div>

                                        </div>
                                    {% endif %}

                                </div>

                                <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

                                <div class="product_preview">

                                    <div class="owl_carousel" id="thumbnails">

                                        {% if product_item.productImage1 is defined and product_item.productImage|length > 0 %}
                                            <a href="#" data-image="{{ asset('sapeuradmin/product/')~product_item.productImage1 }}"
                                               data-zoom-image="{{ asset('sapeuradmin/product/')~product_item.productImage1 }}">

                                                <img src="{{ asset('sapeuradmin/product/')~product_item.productImage1 }}" width="74px" height="74px"
                                                     data-large-image="{{ asset('sapeuradmin/product/')~product_item.productImage1 }}" alt="">
                                            </a>
                                        {% endif %}

                                        {% if product_item.productImage2 is defined and product_item.productImage2|length > 0 %}
                                            <a href="#" data-image="{{ asset('sapeuradmin/product/')~product_item.productImage2 }}"
                                               data-zoom-image="{{ asset('sapeuradmin/product/')~product_item.productImage2 }}">

                                                <img src="{{ asset('sapeuradmin/product/')~product_item.productImage2 }}" width="74px" height="74px"
                                                     data-large-image="{{ asset('sapeuradmin/product/')~product_item.productImage2 }}" alt="">
                                            </a>
                                        {% endif %}

                                        {% if product_item.productImage3 is defined and product_item.productImage3|length > 0 %}
                                            <a href="#" data-image="{{ asset('sapeuradmin/product/')~product_item.productImage3 }}"
                                               data-zoom-image="{{ asset('sapeuradmin/product/')~product_item.productImage3}}">

                                                <img src="{{ asset('sapeuradmin/product/')~product_item.productImage3 }}" width="74px" height="74px"
                                                     data-large-image="{{ asset('sapeuradmin/product/')~product_item.productImage3 }}" alt="">
                                            </a>
                                        {% endif %}


                                    </div><!--/ .owl-carousel-->

                                </div><!--/ .product_preview-->

                                <!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

                            </div>

                            <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

                            <div class="single_product_description">

                                <h3 class="offset_title"><a href="#">{{ product_item.productName }}</a></h3>

                                <!-- - - - - - - - - - - - - - Page navigation - - - - - - - - - - - - - - - - -->

                                <div class="page-nav">

                                    <a href="#" class="page-prev"></a>
                                    <a href="#" class="page-next"></a>

                                </div>

                                <!-- - - - - - - - - - - - - - End of page navigation - - - - - - - - - - - - - - - - -->

                                <div class="description_section v_centered">

                                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                    <ul class="rating">

                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li class="active"></li>
                                        <li></li>
                                        <li></li>

                                    </ul>

                                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

                                    <ul class="topbar">

                                        <li><a href="#">{{ avis|length }} Avis(s)</a></li>
                                    </ul>

                                    <!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

                                </div>

                                <div class="description_section">

                                    <table class="product_info">

                                        <tbody>
                                        <tr>

                                            <td>Marque: </td>
                                            <td>
                                                {% if product_item.marque is defined and product_item.marque is not null %}
                                                    <span>{{ product_item.marque.libelle }}</span>
                                                {% else %}
                                                    <span>Non défini</span>
                                                {% endif %}
                                            </td>

                                        </tr>

                                        <tr>

                                            <td>Disponibilité: </td>
                                            <td>
                                                {% if product_item.productStock >= 1 %}
                                                    <span class="in_stock">En stock</span> {{ product_item.productStock }} element(s)
                                                {% elseif product_item.productStock == 0 %}
                                                    <span class="out_of_stock">Stock épuisé</span> {{ product_item.productStock }} element(s)
                                                {% endif %}
                                            </td>

                                        </tr>

                                        <tr>

                                            <td>Code du produit: </td>
                                            <td>
                                                {{ product_item.partner.partnerCode }}
                                            </td>
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>

                                {% if product_item.productDescription is defined and product_item.productDescription is not null %}
                                    <hr>

                                    <div class="description_section">

                                        <p>
                                            {{ product_item.productDescription|raw }}
                                        </p>

                                    </div>

                                    <hr>
                                {% endif %}

                                <p class="product_price">
                                    {% if product_item.productReduction is defined and product_item.productReduction|length > 0  %}
                                        {% set prixReduction = (product_item.productReduction * product_item.productPrice)/100 %}
                                        <s style="font-size: 15px; margin-right: 10px">{{ product_item.productPrice }} CFA</s>
                                        <b class="theme_color">{{ (product_item.productPrice + prixReduction)|number_format(0, " ", " ") }} CFA</b>
                                    {% else %}
                                        <b class="theme_color">{{ product_item.productPrice|number_format(0, " ", " ") }} CFA</b>
                                    {% endif %}
                                </p>

                                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                <div class="buttons_row">

                                    {% if product_item.productStock >= 1 %}
                                        <button onclick="AddCard({{ product_item.id }})" class="button_blue middle_btn" style="background-color: #cb9700">Ajout au panier</button>
                                        <button onclick="AddFavori({{ product_item.id }})" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container">
                                            <span class="tooltip top">Favori</span>
                                        </button>
                                    {% elseif product_item.productStock == 0 %}
                                        <button class="button_blue middle_btn disabled" disabled style="background-color: lightgrey;
                                        cursor: not-allowed">Ajout au panier</button>
                                        <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container disabled" disabled
                                                style="cursor: not-allowed"><span class="tooltip top">Favori</span></button>
                                    {% endif %}

                                </div>

                                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                            </div>

                            <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

                        </div>

                    </section><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of product images & description - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <div class="tabs type_2">

                            <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->

                            <ul class="tabs_nav clearfix">

                                <li><a href="#description">Description</a></li>
                                <li><a href="#avis">Avis ({{ avis|length }})</a></li>

                            </ul>

                            <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

                            <div class="tab_containers_wrap">

                                <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->

                                <div id="description" class="tab_container">

                                    <p>
                                        {% if product_item.productDescription|length > 0 %}
                                            {{ product_item.productDescription|raw }}
                                        {% else %}
                                            <span class="italic">Aucun commentaire pour ce produit !</span>
                                        {% endif %}
                                    </p>

                                </div><!--/ #tab-1-->

                                <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->

                                <div id="avis" class="tab_container">

                                    <section class="section_offset">

                                        <h4>Avis des clients</h4>

                                        <ul class="reviews">

                                            {% if avis is defined and avis|length >0  %}

                                                {% for avi in avis  %}


                                                    <li>

                                                        <!-- - - - - - - - - - - - - - Review - - - - - - - - - - - - - - - - -->

                                                        <article class="review">

                                                            <!-- - - - - - - - - - - - - - Review body - - - - - - - - - - - - - - - - -->

                                                            <div class="review-body">

                                                                <div class="review-meta">

                                                                    <h5 class="bold">{{ avi.titreAvis }}</h5>

                                                                    Ecris par <a href="#" class="bold">{{ avi.name|capitalize }}</a> le {{ avi.datecrea|date('d/m/Y') }}

                                                                </div>

                                                                <p>
                                                                    {{ avi.commentaire|raw }}
                                                                </p>

                                                            </div>

                                                            <!-- - - - - - - - - - - - - - End of review body - - - - - - - - - - - - - - - - -->

                                                        </article>

                                                        <!-- - - - - - - - - - - - - - End of review - - - - - - - - - - - - - - - - -->

                                                    </li>

                                                {% endfor %}

                                            {% else %}

                                                <p class="italic">Aucun commentaire !</p>

                                            {% endif %}

                                        </ul>

                                    </section><!--/ .section_offset -->

                                    <section class="section_offset">

                                        <h4>Que pensez-vous du produit</h4>

                                        <div class="row">

                                            <div class="col-lg-6">

                                                <p><b>Vous commentez: </b>Comment évaluez-vous ce produit?</p>


                                                <!-- - - - - - - - - - - - - - End of rate the - - - - - - - - - - - - - - - - -->

                                            </div><!--/ [col]-->

                                            <div class="col-lg-6">

                                                <p class="subcaption">Tous les champs sont requis.</p>

                                                <!-- - - - - - - - - - - - - - Review form - - - - - - - - - - - - - - - - -->

                                                {{ form_start(form) }}

                                                    <ul>

                                                        <li class="row">

                                                            <div class="col-sm-6">
                                                                {{ form_row(form.name) }}
                                                            </div>
                                                            <div class="col-sm-6">
                                                                {{ form_row(form.titre_avis) }}
                                                            </div>


                                                        </li>

                                                        <li class="row">

                                                            <div class="col-xs-12">
                                                                {{ form_row(form.commentaire) }}
                                                            </div>

                                                        </li>

                                                        <li class="row">

                                                            <div class="col-xs-12">

                                                                <button class="button_dark_grey middle_btn">Poster le commentaire</button>

                                                            </div>

                                                        </li>

                                                    </ul>

                                                {{ form_end(form) }}

                                                <!-- - - - - - - - - - - - - - End of review form - - - - - - - - - - - - - - - - -->

                                            </div>

                                        </div><!--/ .row -->

                                    </section><!--/ .section_offset -->

                                </div><!--/ #tab-3-->

                                <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
                            </div><!--/ .tab_containers_wrap -->

                            <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->

                        </div><!--/ .tabs-->

                    </div><!--/ .section_offset -->

                    <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - End of related products - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h4 class="offset_title">Autres produits de ce vendeur</h4>

                        <div class="owl_carousel other_products">

                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                            {% if products is defined and products|length > 0 %}

                                {% for item in products %}

                                    <div class="product_item">

                                        <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                        <div class="image_wrap">

                                            <a href="{{ path('view_product_detail', {'id': item.id }) }}" class="">
                                                <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt=""
                                                     style="">
                                            </a>

                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                            {% if item.productReduction is defined and item.productReduction
                                                is not null and item.productReduction|length != 0 and item.qualityProduct == "medium_quality" %}
                                                <div class="label_offer percentage">
                                                    <div>{{ item.productReduction }}%</div>OFF
                                                </div>
                                            {% endif %}

                                            {% if item.qualityProduct == "best_quality" %}
                                                <div class="label_offer percentage" style="background-color: goldenrod">
                                                    <span class="icon-star"></span>
                                                    <div style="font-size: 10px" class="">Offre</div>
                                                    <div>VIP</div>

                                                </div>
                                            {% endif %}

                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                        </div><!--/. image_wrap-->

                                        <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                        <div class="description">

                                            <h4>{{ item.productName }}</h4>

                                            <div class="clearfix product_info">

                                                {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                    <p class="product_price alignleft"><s style="font-size: 12px; margin-right: 10px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                        <b style="font-size: 17px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                                {% else %}
                                                    <p class="product_price alignleft"><b style="font-size: 17px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></p>
                                                    <br>
                                                {% endif %}

                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .product_item-->

                                {% endfor %}

                            {% endif %}


                            <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                        </div><!--/ .owl_carousel -->

                    </section><!--/ .section_offset -->

                </main><!--/ [col]-->

                <aside class="col-md-3 col-sm-4">

                    <!-- - - - - - - - - - - - - - Seller Information - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h4>Information du vendeur</h4>

                        <div class="theme_box">

                            <div class="seller_info clearfix">

                                <div class="wrapper">

                                    <a href="#"><b>{{ partner.partnerLastname|capitalize }} {{ partner.partnerFirstname|upper }} </b></a>

                                    <p class="seller_category">{{ partner.activity.libelle }}</p>

                                </div>

                            </div><!--/ .seller_info-->

                            <ul class="seller_stats">

                                <li>

                                    <ul class="topbar">

                                        <li>{{ partner.siegeSocial }}, Côte d'Ivoire</li>

                                        <li><a href="#">{{ partner.partnerShopName }}</a></li>

                                    </ul>

                                </li>

                            </ul>

                        </div><!--/ .theme_box -->

                        <footer class="bottom_box">

                            <a href="{{ path('all_prod_of_seller', {'slug': partner.partnerCode }) }}"
                               class="button_grey middle_btn">Voir les produits de ce vendeur</a>

                        </footer>

                    </section>

                    <!-- - - - - - - - - - - - - - End of seller information - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <section class="infoblock type_2">

                            <i class="icon-money"></i>

                            <h4 class="caption"><b>100% REMBOURSEMENT GARANTI</b></h4>

                            <p>Chez nous vous êtes satisfaire ou remboursé, </p>

                        </section><!--/ .infoblock.type_2-->

                    </div>

                    <section class="section_offset">

                        <h4>Produits aléatoires</h4>

                        <ul class="products_list_widget">

                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                            {% for prod_al in prod  %}

                                <li>

                                    <a href="#" class="product_thumb">

                                        <a href="{{ path('view_product_detail', {'id': prod_al.id }) }}">
                                            <img src="{{ asset('sapeuradmin/product/')~prod_al.productImage }}" alt=""
                                                 style="">
                                        </a>

                                        {% if prod_al.productReduction is defined and prod_al.productReduction
                                            is not null and prod_al.productReduction|length != 0 %}
                                            <div style="color: #ff4557; font-weight: bold">{{ prod_al.productReduction }}% OFF</div>
                                        {% endif %}

                                    </a>

                                    <div class="wrapper">

                                        <div class="clearfix product_info" style="margin-top: 10px!important;">

                                            {% if prod_al.productReduction is defined and prod_al.productReduction is not null and prod_al.productReduction|length != 0 %}
                                                <p class="product_price alignleft"><s style="margin-right: 10px!important; font-size: 12px!important;">{{ prod_al.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                    <b style="font-size: 17px">{{ (((prod_al.productPrice * prod_al.productReduction)/100) +   prod_al.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                            {% else %}
                                                <p class="product_price alignleft"><b style="font-size: 17px">{{ prod_al.productPrice|number_format(0, " ", " ") }} CFA</b></p>
                                            {% endif %}

                                            <ul class="rating alignright">

                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li></li>

                                            </ul>

                                        </div>

                                    </div>

                                </li>

                            {% endfor %}


                        </ul><!--/ .list_of_products-->

                    </section>



                </aside><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
{% endblock %}
