{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - BIENVENUE{% endblock %}
{% block slider %}{% endblock %}

{% block content %}

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><a href="{{ path('home_index') }}">Accueil</a></li>
                <li>Recherche</li>
                <li>Resultats</li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4 has_mega_menu">

                    <section class="section_offset">

                        <h4>Produits aléatoires</h4>

                        <ul class="products_list_widget">

                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                            {% for item in prod  %}

                                <li>

                                    <a href="#" class="product_thumb">

                                        <a href="{{ path('view_product_detail', {'id': item.id }) }}">
                                            <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt=""
                                                 style="">
                                        </a>

                                        {% if item.productReduction is defined and item.productReduction
                                            is not null and item.productReduction|length != 0 %}
                                            <div style="color: #ff4557; font-weight: bold">{{ item.productReduction }}% OFF</div>
                                        {% endif %}

                                    </a>

                                    <div class="wrapper">

                                        <div class="clearfix product_info" style="margin-top: 10px">

                                            {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                <small class="product_price alignleft"><s style="margin-right: 10px!important; font-size: 12px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                    <b style="font-size: 17px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></small>
                                            {% else %}
                                                <small class="product_price alignleft"><b style="font-size: 17px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></small>
                                            {% endif %}

                                            <ul class="rating alignright">

                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li></li>

                                            </ul>

                                        </div>

                                    </div>

                                </li>

                            {% endfor %}


                            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                        </ul><!--/ .list_of_products-->


                    </section>

                </aside>

                <main class="col-md-9 col-sm-8">

                    <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->

                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                        <div class="widget-head">
                            <h4 class="offset_title">Résultats de la recherche : (<b>{{ products|length }}</b>) élément(s) trouvé(s) </h4>
                        </div>

                        <div class="tabs type_3 products">

                            <div class="row">

                                {% if products|length > 0 %}
                                    {% for item in products %}

                                        <div class="col-md-3" style="margin-bottom: 25px!important; margin-top: 15px">

                                            <div class="product_item">

                                                <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->


                                                <div class="image_wrap">

                                                    <a href="{{ path('view_product_detail', {'id': item.id}) }}" class="">
                                                        <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt="">
                                                    </a>

                                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                    {% if item.productReduction is defined and item.productReduction
                                                        is not null and item.productReduction|length != 0 and item.qualityProduct == "medium_quality" %}
                                                        <div class="label_offer percentage">
                                                            <div>{{ item.productReduction }}%</div>OFF
                                                        </div>
                                                    {% endif %}

                                                    {% if item.qualityProduct == "best_quality" %}
                                                        <div class="label_offer percentage" style="background-color: goldenrod">
                                                            <span class="icon-star"></span>
                                                            <div style="font-size: 10px" class="">Offre</div>
                                                            <div>VIP</div>

                                                        </div>
                                                    {% endif %}


                                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                </div><!--/. image_wrap-->

                                                <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                <div class="description">

                                                    <h4>{{ item.productName }}</h4>

                                                    <div class="clearfix product_info" style="margin-top: 10px">

                                                        {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                            <p class="product_price alignleft"><s style="font-size: 12px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                                <b style="font-size: 17px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                                        {% else %}
                                                            <p class="product_price alignleft"><b style="font-size: 17px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></p>
                                                            <br>
                                                        {% endif %}

                                                        <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                        <ul class="rating alignright">

                                                            <li class="active"></li>
                                                            <li class="active"></li>
                                                            <li class="active"></li>
                                                            <li class="active"></li>
                                                            <li></li>

                                                        </ul>

                                                        <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                    </div>

                                                </div>

                                                <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->

                                            </div><!--/ .product_item-->

                                        </div>

                                    {% endfor %}
                                {% else %}

                                    <div class="col-md-12">
                                        <h4>Aucun produit concernant cette recherche</h4>
                                    </div>

                                {% endif %}

                            </div>

                        </div>

                    </section>

                    <!-- - - - - - - - - - - - - - End of products - - - - - - - - - - - - - - - - -->

                </main>

            </div><!--/ .row -->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
{% endblock %}