{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - BIENVENUE{% endblock %}
{% block slider %}{% endblock %}

{% block content %}

    <div class="secondary_page_wrapper">

        <div class="container">

            <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

            <ul class="breadcrumbs">

                <li><a href="{{ path('home_index') }}">Accueil</a></li>
                <li>{{ app.request.get('cat') }}</li>
                <li>{{ app.request.get('sub') }}</li>

            </ul>

            <div class="row">

                <aside class="col-md-3 col-sm-4 has_mega_menu">

                    <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h4>Categories</h4>

                        <ul class="theme_menu cats">

                            {% if cats is defined and cats is not null %}

                                {% for cat in cats %}

                                    {% for subcat in cat.subCategory%}
                                        <li><a href="{{ path('view_product_by_cat_and_sub', {'cat': cat.libelleFr, 'sub': subcat.libelleFr}) }}">{{ subcat.libelleFr }}</a></li>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                        </ul>

                    </section><!--/ .animated.transparent-->

                    <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Filter - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h4>Filter</h4>

                        <form class="type_2">

                            <div class="table_layout list_view">

                                <div class="table_row">

                                    <!-- - - - - - - - - - - - - - Category filter - - - - - - - - - - - - - - - - -->

                                    <div class="table_cell">

                                        <label>Category</label>

                                        <div class="custom_select">

                                            <select name="">

                                                {% if cats is defined and cats is not null %}
                                                    {% for cat in cats %}
                                                        <option value="{{ cat.libelleFr|capitalize }}">{{ cat.libelleFr|capitalize }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>

                                        </div>

                                    </div><!--/ .table_cell -->


                                    <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->


                                    <!-- - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - -->

                                </div><!--/ .table_row -->

                            </div><!--/ .table_layout -->

                            <footer class="bottom_box">

                                <div class="buttons_row">

                                    <button type="submit" class="button_blue middle_btn">Search</button>
                                </div>

                            </footer>

                        </form>

                    </section>

                    <!-- - - - - - - - - - - - - - End of filter - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        <a href="#" class="banner">

                            <img src="{{ asset('bootstrap/') }}images/banner_img_10.png" alt="">

                        </a>

                    </div>
                    <!-- - - - - - - - - - - - - - Compare products - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        <h4>Produits aléatoires</h4>

                        <ul class="products_list_widget">

                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                            {% for item in prod  %}

                                <li>

                                    <a href="#" class="product_thumb">

                                        <a href="{{ path('view_product_detail', {'id': item.id }) }}">
                                            <img src="{{ asset('sapeuradmin/product/')~item.productImage }}" alt=""
                                                 style="">
                                        </a>

                                        {% if item.productReduction is defined and item.productReduction
                                            is not null and item.productReduction|length != 0 %}
                                            <div style="color: #ff4557; font-weight: bold">{{ item.productReduction }}% OFF</div>
                                        {% endif %}

                                    </a>

                                    <div class="wrapper">

                                        <div class="clearfix product_info" style="margin-top: 10px">

                                            {% if item.productReduction is defined and item.productReduction is not null and item.productReduction|length != 0 %}
                                                <small class="product_price alignleft"><s style="margin-right: 10px!important; font-size: 12px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                    <b style="font-size: 17px">{{ (((item.productPrice * item.productReduction)/100) +   item.productPrice)|number_format(0, " ", " ") }} CFA</b></small>
                                            {% else %}
                                                <small class="product_price alignleft"><b style="font-size: 17px">{{ item.productPrice|number_format(0, " ", " ") }} CFA</b></small>
                                            {% endif %}

                                            <ul class="rating alignright">

                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li class="active"></li>
                                                <li></li>

                                            </ul>

                                        </div>

                                    </div>

                                </li>

                            {% endfor %}


                            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                        </ul><!--/ .list_of_products-->


                    </section>

                </aside>

                <main class="col-md-9 col-sm-8">

                    <!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->

                    <section class="section_offset">

                        {% include '_slider_home.html.twig' %}

                    </section>

                    <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->

                    <div class="section_offset">

                        {% if app.request.get('_route') == "view_product_by_cat_and_sub" %}
                            <div class="widget-head">
                                <h4 class="offset_title">{{ app.request.get('sub') }}</h4>
                            </div>
                        {% endif %}

                        <div class="table_layout" id="products_container" style="margin-top: 10px">

                            <div class="row">


                                {% if products is defined and products is not null and products|length > 0 %}

                                    {% for prod in products %}

                                        <div class="col-md-3" style="margin-bottom: 10px">

                                            <div class="product_item">

                                                <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                <div class="image_wrap">

                                                    <a href="{{ path('view_product_detail', {'id': prod.id }) }}">
                                                        <img src="{{ asset('sapeuradmin/product/')~prod.productImage }}" alt=""
                                                             style="">
                                                    </a>

                                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
                                                    {% if prod.productReduction is defined and prod.productReduction
                                                        is not null and prod.productReduction|length != 0 and prod.qualityProduct == "medium_quality" %}
                                                        <div class="label_offer percentage">

                                                            <div>{{ prod.productReduction }}%</div>OFF

                                                        </div>
                                                    {% endif %}

                                                    {% if prod.qualityProduct == "best_quality" %}
                                                        <div class="label_offer percentage" style="background-color: goldenrod">
                                                            <span class="icon-star"></span>
                                                            <div style="font-size: 10px" class="">Offre</div>
                                                            <div>VIP</div>

                                                        </div>
                                                    {% endif %}

                                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                </div><!--/. image_wrap-->

                                                <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                <div class="description">

                                                    <h4>{{ prod.productName }}</h4>

                                                    <div class="clearfix product_info">

                                                        {% if prod.productReduction is defined and prod.productReduction is not null and prod.productReduction|length != 0 %}
                                                            <p class="product_price alignleft"><s style="font-size: 12px">{{ prod.productPrice|number_format(0, " ", " ") }} CFA</s>
                                                                <b style="font-size: 17px">{{ (((prod.productPrice * prod.productReduction)/100) +   prod.productPrice)|number_format(0, " ", " ") }} CFA</b></p>
                                                        {% else %}
                                                            <p class="product_price alignleft"><b style="font-size: 17px">{{ prod.productPrice|number_format(0, " ", " ") }} CFA</b></p>
                                                            <br>
                                                        {% endif %}

                                                        <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                        <ul class="rating alignright">

                                                            <li class="active"></li>
                                                            <li class="active"></li>
                                                            <li class="active"></li>
                                                            <li class="active"></li>
                                                            <li></li>

                                                        </ul>

                                                        <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                    </div>

                                                </div>

                                                <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->

                                            </div><!--/ .product_item-->

                                        </div>

                                    {% endfor %}

                                {% else %}

                                <div class="col-md-6" style="margin-top: 20px">

                                    <h3 class="italic">Ouff ! Aucun produit disponible </h3>

                                </div>

                                {% endif %}


                            </div><!--/ .table_row -->

                        </div><!--/ .table_layout -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of products - - - - - - - - - - - - - - - - -->

                </main>

            </div><!--/ .row -->

        </div><!--/ .container-->

    </div><!--/ .page_wrapper-->
{% endblock %}