{% extends 'base_admin.html.twig' %}

{% block title %}SAPEUR DE BABY - ADMIN{% endblock %}

{% block content %}

    <section class="mb-5">
        <!-- Card -->
        <div class="card card-cascade narrower p-3">

            <div class="card-body">
                {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div style="font-size: 17px !important;" class="alert alert-{{ label }} p-3 alert-dismissible fade show text-left" role="alert" id="alertMsg">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" class="text-dark">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}

                <h3 class="dark-grey-text">Modification des informations</h3>
                {{ form_start(form) }}
                <!-- Grid row -->
                <div class="row border p-2 pt-4">
                    <div class="col-md-3 form-group">{{ form_row(form.civility) }}</div>
                    <div class="col-md-5 form-group">{{ form_row(form.partner_firstname) }}</div>
                    <div class="col-md-4 form-group">{{ form_row(form.partner_lastname) }}</div>
                    <div class="col-md-5 form-group">{{ form_row(form.partner_email) }}</div>
                    <div class="col-md-4 form-group">{{ form_row(form.partner_phone) }}</div>
                    <div class="col-md-3 input-group" style="margin-top: 31px">
                        <input
                                type="text"
                                class="form-control" name="code_partner"  id="partner_code" required readonly value="{{ partner_code }}"
                        />
                        <a class="partnerCode mt-2 ml-1" id="inputGroup-sizing-lg" title="Générer code partenaire"><i class="fas fa-sync-alt text-info"></i></a>
                    </div>

                    <div class="col-md-3 form-group">{{ form_row(form.activity) }}</div>
                    <div class="col-md-5 form-group">{{ form_row(form.partner_site) }}</div>
                    <div class="col-md-4 form-group">{{ form_row(form.siege_social) }}</div>
                    <div class="col-md-12 form-group">{{ form_row(form.partner_shop_name) }}</div>
                </div>
                <div class="row border p-2 mt-3">
                    <div class="col-md-5 form-group">{{ form_row(form.type_room) }}</div>
                    <div class="col-md-7 form-group">{{ form_row(form.partner_nroom) }}</div>

                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-green btn-md"><i class="fas fa-check-circle mr-2"></i>Mettre à jour</button>
                    </div>
                </div>
                <!-- Grid row -->
                {{ form_end(form) }}
            </div>

        </div>
        <!-- Card -->

    </section>
{% endblock %}
