{% extends 'base_admin.html.twig' %}

{% block title %}SAPEUR DE BABY - ADMIN{% endblock %}

{% block content %}

    <section>

        <!-- Gird column -->
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <div class="row text-dark">
                        <div class="col-md-12">
                            {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                                {% for message in messages %}
                                    <div style="font-size: 17px !important;" class="alert alert-{{ label }} p-3 alert-dismissible fade show text-left" role="alert" id="alertMsg">
                                        {{ message|raw }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true" class="text-dark">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row text-dark">
                        <div class="col-md-8"><h4 class="dark-grey-text">Liste des Partenaires</h4></div>
                        <div class="col-md-4 mt-2 text-right">
                            <a href="{{ path('partner_add') }}" title="Ajout d'utilisateur"><i class="fas fa-plus-circle
                            text-info mr-3" style="font-size: 25px"></i></a>
                            <a href="{{ path('partner_list') }}" title="Liste des utilisteurs"><i class="fas fa-list-alt
                             text-danger" style="font-size: 25px"></i></a>
                        </div>
                    </div>
                    <hr/>

                    <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Nom & Prenom(s)</th>
                            <th>Contact</th>
                            <th>Code</th>
                            <th>Entriprise</th>
                            <th>Activité</th>
                            <th>Siège</th>
                            <th>Date</th>
                            <th width="15%">#Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if partners is defined and partners|length > 0 %}
                            {% for partner in partners %}

                                <tr>
                                    <td>{{ partner.civility.libelle }} {{ partner.partnerFirstname }} {{ partner.partnerLastname }}</td>
                                    <td>{{ partner.partnerPhone }}</td>
                                    <td>{{ partner.partnerCode }}</td>
                                    <td>{{ partner.partnerShopName }}</td>
                                    <td>{{ partner.activity.libelle }}</td>
                                    <td>{{ partner.siegeSocial }}</td>
                                    <td>{{ partner.datecrea|date('Y/m/d') }}</td>
                                    <td>
                                        {% if app.user.roles.0 in ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN'] %}
                                            <a href="{{ path('partner_edit', {'id': partner.id}) }}"><i class="fas fa-pen-alt text-info mr-4 mt-2" title="Modifier" style="font-size: 20px"></i></a>
                                            <a  data-toggle="modal" data-target="#modalAlertPartner"><i class="far fa-trash-alt text-danger mt-2" style="font-size: 20px"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>

                                <!-- Modal -->
                                <div class="modal fade" id="modalAlertPartner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle text-warning mr-2"></i>Attention !</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Attention !! si vous continuez, les éléments rattachés seront définitivement supprimé.
                                                <br>
                                                Voulez-vous continuer ?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('partner_delete', {'id': partner.id}) }}" class="btn btn-danger btn-md" data-dismiss="modal">Continuer</a>
                                                <button type="button" class="btn btn-grey btn-md" data-dismiss="modal">Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% endif %}

                    </table>
                </div>
            </div>

        </div>
        <!-- Gird column -->

    </section>
    <!-- Section: Basic examples -->
{% endblock %}
