{% extends 'base_admin.html.twig' %}

{% block title %}SAPEUR DE BABY - ADMIN{% endblock %}

{% block content %}

    <section>

        <!-- Gird column -->
        <div class="col-md-12">

            <div class="card">
                {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                    {% for message in messages %}
                        <div style="font-size: 17px !important;" class="alert alert-{{ label }} p-3 alert-dismissible fade show text-left" role="alert" id="alertMsg">
                            {{ message|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" class="text-dark">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="card-body">
                    <div class="row text-dark">
                        <div class="col-md-8"><h5 class="dark-grey-text">Détail facture n° FAC-{{ command.numberFacture }}</h5></div>
                        <div class="col-md-4 mt-2 text-right">
                            <a href="{{ path('admin_cmd_all') }}" title="Toutes les commandes">
                                <i class="far fa-calendar-alt mr-2 gold-text" style="font-size: 17px"></i></a>
                        </div>
                    </div>
                    <hr class="mt-0"/>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{{ path('send_sms_clt', {'ref' : command.refCmd}) }}" class="btn btn-green btn-sm">Valider la commande</a>
                            <a href="{{ path('send_sms_clt_echec', {'ref' : command.refCmd}) }}"  class="btn btn-danger btn-sm">Annuler la commande</a>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped">
                <tr>
                    <td>Numéro de la facture</td>
                    <td class="text-left font-weight-bold">{{ command.numberFacture }}</td>
                </tr>

                <tr>
                    <td>Etat de la facture</td>
                    <td class="text-left font-weight-bold">{{ (command.buyedBy == command.mntTtc) ? "<span class='text-success'>Facture Payée</span>"
                        : "<span class='text-danger'>Facture Impayée</span>" }}</td>
                </tr>

                <tr>
                    <td>Paiement effectué par </td>
                    <td class="text-left font-weight-bold">{{ (command.buyedBy =="OMCIV2")? "Orange Money" : command.buyedBy }}</td>
                </tr>

                <tr>
                    <td>Commande effectuée le</td>
                    <td class="text-left font-weight-bold">{{ command.commandAt|date("d-m-Y H:i:s") }}</td>
                </tr>
                <tr>
                    <td>Montant total de la commande (sans livraison)</td>
                    <td class="text-left font-weight-bold">{{ command.mntTtc }} FCFA</td>
                </tr>
                <tr>
                    <td>Montant de la livraison</td>
                    <td class="text-left font-weight-bold">{{ command.montantLivraison }} FCFA</td>
                </tr>
                <tr>
                    <td>Montant déjà réglé</td>
                    <td class="text-left font-weight-bold">{{ command.montantBuy }} FCFA</td>
                </tr>
                <tr>
                    <td>Commande émise par</td>
                    <td class="text-left font-weight-bold">{{ command.nameClt|upper }}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td class="text-left font-weight-bold">{{ command.telClt }}</td>
                </tr>
                <tr>
                    <td>ID Transaction</td>
                    <td class="text-left font-weight-bold">{{ command.payId }}</td>
                </tr>
                <tr>
                    <td>Date livraison</td>
                    <td class="text-left font-weight-bold">{{ command.dateDelivery|date("d-m-Y H:i:s") }}</td>
                </tr>
                <tr>
                    <td>Lieu livraison</td>
                    <td class="text-left font-weight-bold">{{ command.deliveryLocation }}</td>
                </tr>
                <tr>
                    <td>Etat SMS</td>
                    <td class="text-left font-weight-bold {{ command.sendSms == 1 ? 'text-success': 'text-danger'}} ">{{ command.sendSms == 1 ? 'SMS envoyé au client': 'SMS non envoyé' }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <a href="https://sapeurdebaby.com/invoice/{{ command.factureName }}" target="_blank"
                           style="font-size: 17px; font-style: italic; color: #ff5252">
                            <i class="far fa-file-pdf " style="color: #ff5252!important"></i> Cliquez ici pour visualiser la facture en PDF
                        </a>
                    </td>
                </tr>
            </table>

        </div>
        <!-- Gird column -->

    </section>
    <!-- Section: Basic examples -->
{% endblock %}
