<footer id="footer">

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section_2">

        <div class="container">

            <div class="row">

                <!-- - - - - - - - - - - - - - Newsletter - - - - - - - - - - - - - - - - -->

                <div class="col-md-6 col-sm-7">

                    <section class="streamlined_type_2">

                        <h4 class="streamlined_title">S'abonner à la newsletter</h4>

                        <form class="newsletter subscribe">

                            <input type="email" name="sc_email" placeholder="Entrez votre adresse email">

                            <button class="button_blue def_icon_btn" style="background-color: #febd2b"></button>

                        </form>

                    </section><!--/ .streamlined-->

                </div><!--/ [col]-->

                <!-- - - - - - - - - - - - - - End newsletter - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Follow us - - - - - - - - - - - - - - - - -->

                <div class="col-md-6 col-sm-5">

                    <section class="streamlined">

                        <h4 class="streamlined_title">Suivez-nous sur</h4>

                        <!-- - - - - - - - - - - - - - Social icon's list - - - - - - - - - - - - - - - - -->

                        <ul class="social_btns">

                            <li>
                                <a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_twitter tooltip_container"><i class="icon-twitter"></i><span class="tooltip top">Twitter</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_youtube tooltip_container"><i class="icon-youtube"></i><span class="tooltip top">Youtube</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_instagram tooltip_container"><i class="icon-instagram-4"></i><span class="tooltip top">Instagram</span></a>
                            </li>

                            <li>
                                <a href="#" class="icon_btn middle_btn social_linkedin tooltip_container"><i class="icon-linkedin-5"></i><span class="tooltip top">LinkedIn</span></a>
                            </li>

                        </ul>

                        <!-- - - - - - - - - - - - - - End social icon's list - - - - - - - - - - - - - - - - -->

                    </section><!--/ .streamlined-->

                </div><!--/ [col]-->

                <!-- - - - - - - - - - - - - - End follow us - - - - - - - - - - - - - - - - -->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section">

        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4><b>Sapeur2baby</b></h4>
                        <p>
                            Une plateforme de vente de vêtements et accessoires de toutes catégories (Homme, Femme, Enfant et Sport).
                        </p>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Liens Utils</h4>

                        <ul class="list_of_links">
                            <li><a href="{{ path('security_login') }}">Connexion</a></li>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Politique d'utilisation</a></li>
                            <li><a href="">Demande de partenariat</a></li>
                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                    <!-- - - - - - - - - - - - - - Account's links widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Contactez-nous</h4>

                        <ul class="c_info_list">

                            <li class="c_info_location">Cocody Saint Jean ,<br>Abidjan, Côte d'Ivoire</li>
                            <li class="c_info_phone">+225 01 53 22 26 28</li>
                            <li class="c_info_mail"><a href="mailto:#">support@sapeurdebaby.com</a></li>
                            <li class="c_info_schedule">

                                <ul>

                                    <li>Lundi-Vendredi: 8.00 - 17.00</li>
                                    <li>Samedi: 8.00 - 12.00</li>
                                    <li>Dimanche: Fermé</li>

                                </ul>

                            </li>

                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of account's links widget - - - - - - - - - - - - - - - - -->

                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                    <!-- - - - - - - - - - - - - - Contact Us widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Localisation</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.539981969244
									!2d-4.005103385018632!3d5.334195296130588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3
									!1m2!1s0xfc1eb9c01511bff%3A0xab6a78831d099540!2sRue%20Saint-Jean%2C%20Abidjan!5e0!3m2
									!1sfr!2sci!4v1600787494740!5m2!1sfr!2sci" width="400" height="250" frameborder="0"
                                style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of contact us widget - - - - - - - - - - - - - - - - -->

                </div>

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <div class="footer_section_3 align_center">

        <div class="container">

            <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

            <ul class="payments">

                <li><img src="{{ asset('bootstrap/') }}images/payment_1.png" alt=""></li>
                <li><img src="{{ asset('bootstrap/') }}images/payment_2.png" alt=""></li>
                <li><img src="{{ asset('bootstrap/') }}images/payment_3.png" alt=""></li>
                <li><img src="{{ asset('bootstrap/') }}images/payment_4.jpg" alt=""></li>
                <li><img src="{{ asset('bootstrap/') }}images/payment_5.jpg" alt=""></li>
                <li><img src="{{ asset('bootstrap/') }}images/payment_6.jpg" alt=""></li>

            </ul>

            <!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->

            <nav class="footer_nav">
                <ul class="bottombar">
                    <li><a href="#">Politiques & conditions</a></li>
                    <li><a href="#">Devinir partenaire</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </nav>

            <!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->

            <p class="copyright">&copy; 2021 by <a href="https://oztech-ci.com">OZTECH-CI</a>. Tout droits reservés.</p>

        </div><!--/ .container-->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

</footer>