<header id="header" class="type_6">

    <!-- - - - - - - - - - - - - - Top part - - - - - - - - - - - - - - - - -->

    <div class="top_part" style=" background-color: #070301">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-7 col-sm-8">

                    <!-- - - - - - - - - - - - - - Login - - - - - - - - - - - - - - - - -->

                    <p><a href="{{ path('security_login') }}">Se connecter</a></p>

                    <!-- - - - - - - - - - - - - - End login - - - - - - - - - - - - - - - - -->

                </div> <!--/ [col]-->

                <div class="col-lg-6 col-md-5 col-sm-4">

                    <div class="clearfix">

                        <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings">

                            <span class=""><img src="{{ asset('bootstrap/') }}images/flag_fr.png" style="width: 19px;height: 12px" alt="">Français</span>

                            <!-- <ul class="dropdown site_setting_list language">

                                <li class="animated_item"><a href="#"><img src="{{ asset('bootstrap/') }}images/flag_en.jpg" alt=""> English</a></li>
                            </ul> -->

                        </div><!--/ .alignright.site_settings-->

                        <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings currency">

                            <span class="">CFA</span>

                            <!--<ul class="dropdown site_setting_list">
                                <li class="animated_item"><a href="#">EUR</a></li>
                            </ul>-->

                        </div><!--/ .alignright.site_settings.currency-->

                        <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                    </div><!--/ .clearfix-->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .top_part -->

    <!-- - - - - - - - - - - - - - End of top part - - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part">

        <div class="container">

            <div class="row">

                <div class="main_header_row">

                    <div class="col-sm-3">

                        <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

                        <a href="{{ path('home_index') }}">

                            <img src="{{ asset('/logo.jpg') }}" alt="">

                        </a>

                        <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-sm-3">

                        <!-- - - - - - - - - - - - - - Call to action - - - - - - - - - - - - - - - - -->

                        <div class="call_us">

                            <span>Contactez-nous:</span> <strong style="color: #febd2b">+225 47 45 47 66</strong>

                        </div><!--/ .call_us-->

                        <!-- - - - - - - - - - - - - - End call to action - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-sm-6">

                        <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->

                        <form class="clearfix search">

                            <input type="text" name="" tabindex="1" placeholder="Recherche..." class="alignleft">

                            <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                            <div class="search_category alignleft">

                                <div class="open_categories">Categories</div>

                                <ul class="categories_list dropdown">

                                    <li class="animated_item"><a href="#">Medicine &amp; Health</a></li>
                                    <li class="animated_item"><a href="#">Beauty</a></li>
                                    <li class="animated_item"><a href="#">Personal Care</a></li>
                                    <li class="animated_item"><a href="#">Vitamins &amp; Supplements</a></li>
                                    <li class="animated_item"><a href="#">Baby Needs</a></li>
                                    <li class="animated_item"><a href="#">Diet &amp; Fitness</a></li>
                                    <li class="animated_item"><a href="#">Sexual Well-being</a></li>

                                </ul>

                            </div><!--/ .search_category.alignleft-->

                            <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                            <button class="button_blue def_icon_btn alignleft"></button>

                        </form><!--/ #search-->

                        <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                </div><!--/ .main_header_row-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->
</header>