<div class="side-nav fixed" id="slide-out" style="box-shadow: none!important;">

    <ul class="custom-scrollbar">

        <!-- Logo -->
        <li class="logo-sn waves-effect py-4 bg-white border-bottom">
            <div class="text-center">
                <a href="{{ path('admin_index') }}" class="pl-0">
                    <img src="{{ asset('/logo.jpg') }}" alt="" style="width: 230px;">
                </a>
            </div>
        </li>

        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">

                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fab fa-product-hunt orange-text"></i>Gestion des produits<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{{ path('product_add') }}" class="waves-effect"><i class="far fa-plus-square orange-text"></i>Nouveau produit</a>
                            </li>
                            <li>
                                <a href="{{ path('product_list') }}" class="waves-effect"><i class="far fa-list-alt orange-text"></i>Liste des produit</a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% if app.user.roles.0 in ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN'] %}
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-th-list orange-text"></i>Gestion des catégories<i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="html/profile/basic-1.html" class="waves-effect"><i class="far fa-plus-square orange-text"></i>Nouvelle catégorie</a>
                                </li>
                                <li>
                                    <a href="html/profile/basic-2.html" class="waves-effect"><i class="far fa-list-alt orange-text"></i>Liste des catégories</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-users orange-text"></i>Gestion des comptes<i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="{{ path('user_add') }}" class="waves-effect"><i class="fas fa-user-plus orange-text"></i>Nouveau compte</a>
                                </li>
                                <li>
                                    <a href="{{ path('user_list') }}" class="waves-effect"><i class="far fa-list-alt orange-text"></i>Liste des comptes</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-users orange-text"></i>Gestion des partenaires <i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="{{ path('partner_add') }}" class="waves-effect"><i class="fas fa-user-plus orange-text"></i>Nouveau compte</a>
                                </li>
                                <li>
                                    <a href="html/pages/register.html" class="waves-effect"><i class="far fa-list-alt orange-text"></i>Liste des partenaires</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}

                <li>
                    <a href="html/alerts/alerts.html" class="collapsible-header waves-effect"><i
                                class="fas fa-users orange-text"></i>Gestion des clients</a>
                </li>

                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-shopping-basket orange-text"></i>Gestion des commandes<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="html/css/grid.html" class="waves-effect">Les commandes du jour</a>
                            </li>
                            <li>
                                <a href="html/css/media.html" class="waves-effect">Toutes les commandes</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-gift orange-text"></i>Service après-vente<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="html/css/grid.html" class="waves-effect">Reclamation du jour</a>
                            </li>
                            <li>
                                <a href="html/css/media.html" class="waves-effect">Nos reclamations</a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </li>
        <!-- Side navigation links -->

    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>