<div class="side-nav fixed" id="slide-out" style="box-shadow: none!important; background-color: #3e4551">

    <ul class="custom-scrollbar">

        <!-- Logo -->
        <li class="logo-sn waves-effect py-4 bg-white border-bottom">
            <div class="text-center">
                <a href="{{ path('admin_index') }}" class="pl-0">
                    <img src="{{ asset('bootstrap/images/logo.png') }}" alt="" style="width: 230px;">
                </a>
            </div>
        </li>

        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">

                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fab fa-product-hunt gold-text"></i>Gestion des produits<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{{ path('product_add') }}" class="waves-effect"><i class="far fa-plus-square gold-text"></i>Nouveau produit</a>
                            </li>
                            <li>
                                <a href="{{ path('product_list') }}" class="waves-effect"><i class="far fa-list-alt gold-text"></i>Liste des produit</a>
                            </li>
                        </ul>
                    </div>
                </li>

                {% if app.user.roles.0 in ['ROLE_ADMIN', 'ROLE_SUPER_ADMIN'] %}

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-users gold-text"></i>Gestion des comptes<i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="{{ path('user_add') }}" class="waves-effect"><i class="fas fa-user-plus gold-text"></i>Nouveau compte</a>
                                </li>
                                <li>
                                    <a href="{{ path('user_list') }}" class="waves-effect"><i class="far fa-list-alt gold-text"></i>Liste des comptes</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a class="collapsible-header waves-effect arrow-r">
                            <i class="fas fa-users gold-text"></i>Gestion des partenaires <i class="fas fa-angle-down rotate-icon"></i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="{{ path('partner_add') }}" class="waves-effect"><i class="fas fa-user-plus gold-text"></i>Nouveau compte</a>
                                </li>
                                <li>
                                    <a href="{{ path('partner_list') }}" class="waves-effect"><i class="far fa-list-alt gold-text"></i>Liste des partenaires</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                {% endif %}

                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-shopping-basket gold-text"></i>Gestion des commandes<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{{ path('admin_cmd_to_day') }}" class="waves-effect"><i class="fas fa-calendar-day mr-2 gold-text"></i>Les commandes du jour</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_cmd_all') }}" class="waves-effect"><i class="far fa-calendar-alt mr-2 gold-text"></i>Toutes les commandes</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-gift gold-text"></i>Service après-vente<i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="#" class="waves-effect">Reclamation du jour</a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect">Nos reclamations</a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </li>
        <!-- Side navigation links -->

    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>