
{% if app.request.get('_route')  == "view_product_by_category" %}

    <div class="layerslider" style="width:100%; height: 522px;">

        <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/banniere1.jpeg') }}" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/banniere2.jpeg') }}" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 2 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/banniere3.jpeg') }}" alt="">

        </div>


        <!-- - - - - - - - - - - - - - End of slide 3 - - - - - - - - - - - - - - - - -->

    </div><!--/ #layerslider-->

{% else %}

    <div class="layerslider" style="width:100%; height: 522px;">

        <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/') }}slide_2.png" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/') }}slide_4.png" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 2 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/') }}slide_3.png" alt="">

        </div>
        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/') }}slide_4.png" alt="">

        </div>

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/') }}slide_5.png" alt="">

        </div>


        <!-- - - - - - - - - - - - - - End of slide 3 - - - - - - - - - - - - - - - - -->

    </div><!--/ #layerslider-->

{% endif %}