
{% if app.request.get('_route')  in ["view_product_by_category", "all_prod_of_seller", "view_product_by_cat_and_sub"] %}

    <div class="layerslider" style="width:100%; height: 522px;">

        <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/s1.png') }}" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/s2.png') }}" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 2 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/s3.png') }}" alt="">

        </div>
        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/s4.png') }}" alt="">

        </div>

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/s1.png') }}" alt="">

        </div>


        <!-- - - - - - - - - - - - - - End of slide 3 - - - - - - - - - - - - - - - - -->

    </div><!--/ #layerslider-->

{% else %}

    <div class="layerslider" style="width:100%; height: 522px;">

        <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/1.png') }}" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/2.png') }}" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 2 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/3.png') }}" alt="">

        </div>


        <!-- - - - - - - - - - - - - - End of slide 3 - - - - - - - - - - - - - - - - -->

    </div><!--/ #layerslider-->

{% endif %}