
{% if app.request.get('_route')  in ["view_product_by_category", "all_prod_of_seller", "view_product_by_cat_and_sub"] %}

    <div class="layerslider" style="height: 520px;!important; margin-top: -27px!important;">

        {% if app.request.get('_route') == 'view_product_by_category' and app.request.get('slug') =='femme' %}

            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
                <img class="ls-bg" src="{{ asset('bootstrap/images/s1.jpg') }}" alt="">
            </div>

        {% elseif app.request.get('_route') == 'view_product_by_category' and app.request.get('slug') =='enfant' %}

            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
                <img class="ls-bg" src="{{ asset('bootstrap/images/s2.jpg') }}" alt="">
            </div>

        {% elseif app.request.get('_route') == 'view_product_by_category' and app.request.get('slug') =='homme' %}

            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
                <img class="ls-bg" src="{{ asset('bootstrap/images/s3.jpg') }}" alt="">
            </div>

        {% elseif app.request.get('_route') == 'view_product_by_category' and app.request.get('slug') =='sport' %}

            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

                <img class="ls-bg" src="{{ asset('bootstrap/images/s4.jpg') }}" alt="">

            </div>
        {% else %}

            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
                <img class="ls-bg" src="{{ asset('bootstrap/images/s1.jpg') }}" alt="">
            </div>

            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
                <img class="ls-bg" src="{{ asset('bootstrap/images/s2.jpg') }}" alt="">
            </div>
            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
                <img class="ls-bg" src="{{ asset('bootstrap/images/s3.jpg') }}" alt="">
            </div>

            <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
                <img class="ls-bg" src="{{ asset('bootstrap/images/s4.jpg') }}" alt="">
            </div>

        {% endif %}


    </div><!--/ #layerslider-->
{% elseif app.request.get('_route') == 'view_product_by_cat_and_sub_quality' %}
    <div class="layerslider" style="height: 520px;!important; margin-top: -27px!important;">
        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
            <img class="ls-bg" src="{{ asset('bootstrap/images/s1.jpg') }}" alt="">
        </div>

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
            <img class="ls-bg" src="{{ asset('bootstrap/images/s2.jpg') }}" alt="">
        </div>
        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
            <img class="ls-bg" src="{{ asset('bootstrap/images/s3.jpg') }}" alt="">
        </div>

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
            <img class="ls-bg" src="{{ asset('bootstrap/images/s4.jpg') }}" alt="">
        </div>

    </div><!--/ #layerslider-->
{% else %}

    <div class="layerslider" style="height: 520px;!important;">

        <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
            <img class="ls-bg" src="{{ asset('bootstrap/images/1.jpg') }}" alt="">
        </div>

        <!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
            <img class="ls-bg" src="{{ asset('bootstrap/images/2.jpg') }}" alt="">
        </div>

        <!-- - - - - - - - - - - - - - End of slide 2 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">
            <img class="ls-bg" src="{{ asset('bootstrap/images/3.jpg') }}" alt="">
        </div>

        <!-- - - - - - - - - - - - - - End of slide 4 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

        <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

            <img class="ls-bg" src="{{ asset('bootstrap/images/4.jpg') }}" alt="">

        </div>

        <!-- - - - - - - - - - - - - - End of slide 4 - - - - - - - - - - - - - - - - -->

    </div><!--/ #layerslider-->

{% endif %}