<!doctype html>
<html lang="fr">
<head>
    <!-- Basic page needs
    ============================================ -->
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/icon.jpg') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Google web fonts
    ============================================ -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}css/animate.css">
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}css/fontello.css">
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}css/bootstrap.min.css">

    <!-- Theme CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}js/layerslider/css/layerslider.css">
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}js/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}js/colorpicker/colorpicker.css">
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}js/arcticmodal/jquery.arcticmodal.css">
    <link rel="stylesheet" href="{{ asset('bootstrap/') }}css/style.css">

    <!-- Old IE stylesheet
    ============================================ -->
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/') }}css/oldie.css">
    <![endif]-->
    <style>
        #user .fa-user::after {
            font-family: 'fontello';
            display: inline-block;
            margin-left: 8px;
            content: '\e8c8';
            font-size: 10px;
        }
        .label_required::after{
            content: " *";
            color: red;
            font-weight: bold;
        }
        .alert-success {
            color: black!important;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }.alert-warning {
            color: black!important;
            background-color: rgba(254, 163, 0, 0.44);
            font-weight: bold;
        }

        .alert {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: .25rem;
        }
        .close {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
        }
        body {
            font-family: "Roboto",sans-serif;
            font-weight: 300;
        }
        @media only screen and (max-width: 799px){
            .search {
                display: block!important;
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 992px){
            .search input {
                width: calc(100% - 50px);
            }
        }

        @media only screen and (max-width: 799px){
            .sticky_inner .nav_item {
                width: 100%;
                display: table-cell;
            }
            .toggle_menu{
                display: none;
            }
            #open_shopping_cart{
                margin-top: 23px!important;
            }
            b.title{
                display: none!important;
            }
            .on_the_sides {
                -webkit-flex-direction: column;
                flex-direction: row;
                /* -webkit-align-items: flex-start; */
                /* align-items: flex-start; */
            }
            .left_side{
                margin-top: 10px!important;
            }
            .row {
                margin-left: 0!important;
                margin-right: 0!important;
            }
        }
        @media only screen and (max-width: 799px){
            .nav_item .cats {
                width: max-content!important;
            }
        }

    </style>
</head>
<body class="front_page" style="background-color: #fff!important;">
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=194364450619191";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    {% include '_header_home.html.twig' %}

    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->
    {% block nav %}{% include 'nav_home.html.twig' %}{% endblock %}

    {% if app.request.get('_route') == "home_index" %}
        <!-- - - - - - - - - - - - - - Layer slider - - - - - - - - - - - - - - - - -->
        {% block slider %}{% include '_slider_home.html.twig' %}{% endblock %}

        <!-- - - - - - - - - - - - - - End of layer slider - - - - - - - - - - - - - - - - -->
    {% endif %}

    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

    {% block content %}{% endblock %}

    <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    {% include '_footer_home.html.twig' %}

    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- JS Libs
    ============================================ -->
<script src="{{ asset('bootstrap/') }}js/modernizr.js"></script>
<script src="{{ asset('bootstrap/') }}js/jquery-2.1.1.min.js"></script>
<script src="{{ asset('bootstrap/') }}js/queryloader2.min.js"></script>

<script src="{{ asset('bootstrap/') }}js/modernizr.js"></script>

<!-- Include Libs & Plugins
============================================ -->
<script src="{{ asset('bootstrap/') }}js/layerslider/js/greensock.js"></script>
<script src="{{ asset('bootstrap/') }}js/layerslider/js/layerslider.transitions.js"></script>
<script src="{{ asset('bootstrap/') }}js/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script src="{{ asset('bootstrap/') }}js/jquery.appear.js"></script>
<script src="{{ asset('bootstrap/') }}js/owlcarousel/owl.carousel.min.js"></script>
<script src="{{ asset('bootstrap/') }}js/jquery.countdown.plugin.min.js"></script>
<script src="{{ asset('bootstrap/') }}js/jquery.countdown.min.js"></script>
<script src="{{ asset('bootstrap/') }}js/arcticmodal/jquery.arcticmodal.js"></script>
<script src="{{ asset('bootstrap/') }}twitter/jquery.tweet.min.js"></script>
<script src="{{ asset('bootstrap/') }}js/colorpicker/colorpicker.js"></script>
<script src="{{ asset('bootstrap/') }}js/retina.min.js"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

<!-- Theme files
============================================ -->
<script src="{{ asset('bootstrap/') }}js/theme.styleswitcher.js"></script>
<script src="{{ asset('bootstrap/') }}js/theme.plugins.js"></script>
<script src="{{ asset('bootstrap/') }}js/theme.core.js"></script>

{% include 'ajax.html.twig' %}

<script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};

    // Get the navbar
    let navbar = document.getElementsByClassName("main_navigation_wrap");

    // Get the offset position of the navbar
    let sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }

    $('#at_home').hide();
    $('#cash').hide();

    //
    $('#mode_buy').change(function () {
        let val = $('#mode_buy').val();

        if (val === "at_home"){
            $('#cash').hide();
            $('#at_home').show();
        }
        if (val === "cash"){
            $('#at_home').hide();
            $('#cash').show();
        }


    })
</script>

</body>
</html>
