<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('sapeuradmin/css/bootstrap.min.css') }}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{{ asset('sapeuradmin/') }}css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('sapeuradmin/css/addons/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('sapeuradmin/css/addons/datatables-select.min.css') }}" rel="stylesheet">
    <style>
        .form-control{
            background-color: #f8f8f8;
            font-size: 17px;
        }
        textarea.form-control{
            height: 100%!important;
            background-color: #f8f8f8;
        }
        .card{
            box-shadow: none!important;
        }
        .md-form{
            margin-top: 0!important;
        }
        .label_required::after{
            content: ' *';
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body class="fixed-sn white-skin">

<!-- Main Navigation -->
<header>

    <!-- Sidebar navigation -->
    {% include '_sidebar_admin.html.twig' %}
    <!-- Sidebar navigation -->

    <!-- Navbar -->
    {% include '_nav_admin.html.twig' %}
    <!-- Navbar -->

</header>
<!-- Main Navigation -->

<!-- Main layout -->
<main>

    <div class="container-fluid">

        <!-- Section: Main panel -->
        {% block content %}{% endblock %}

    </div>

</main>
<!-- Main layout -->

<!-- Footer -->
<footer class="pt-0 mt-5 border-top">

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2020 Copyright - Developer by <a href="https://oztech-ci.com" target="_blank">OZTECH-CI </a>
        </div>
    </div>

</footer>
<!-- Footer -->

<!-- SCRIPTS -->
<!-- JQuery -->
<script src="{{ asset('sapeuradmin/') }}js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('sapeuradmin/') }}js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('sapeuradmin/') }}js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('sapeuradmin/') }}js/mdb.min.js"></script>
<script type="text/javascript" src="{{ asset('sapeuradmin/js/addons/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('sapeuradmin/js/addons/datatables-select.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('sapeuradmin/js/tinymce/tinymce.min.js') }}"></script>

<!-- Initializations -->
<script>
    // SideNav Initialization
    $(".button-collapse").sideNav();

    let container = document.querySelector('.custom-scrollbar');
    let ps = new PerfectScrollbar(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
    });

    // Data Picker Initialization
    $('.datepicker').pickadate();

    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });

    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        $('#dtMaterialDesignExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

    // TinyMCE Initialization
    tinymce.init({ selector:'#product_product_description', menubar: true, height : "250" });

    $('.partnerCode').click(function () {

        let name      = $('#partner_partner_firstname').val();
        let last_name = $('#partner_partner_lastname').val();


        let pathFeed = "/generate-unique-partner-code";

        $.ajax({
            url: pathFeed,
            type: "post",
            dataType: "json",
            data: {
                name: name,
                last_name: last_name
            },
            async: true,
            success: function (data) {

                // Ajout de la valeur a partner_code

                $('#partner_code').val(data.code)

            },
            error: function(data){

            }
        });



    })

</script>

<!-- Charts -->
{% include 'statistic_admin_js.html.twig' %}

</body>

</html>
