<div id="main_navigation_wrap" style="background-color: #e1e1e1; color: white">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <!-- - - - - - - - - - - - - - Sticky container - - - - - - - - - - - - - - - - -->

                <div class="sticky_inner type_2">

                    <!-- - - - - - - - - - - - - - Navigation item - - - - - - - - - - - - - - - - -->

                    <div class="nav_item size_4">

                        <button class="open_menu"></button>

                        <!-- - - - - - - - - - - - - - Main navigation - - - - - - - - - - - - - - - - -->

                        <ul class="theme_menu cats dropdown">

                            {% if cats is defined and cats is not null %}

                                {% for cat in cats %}

                                    {% if cat.id == 1 %}
                                        <li class="has_megamenu animated_item">

                                            <a href="{{ path('view_product_by_category', {'slug':cat.libelleFr|lower}) }}">{{ cat.libelleFr|capitalize }}</a>

                                            <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                            <div class="mega_menu type_2 clearfix">

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <h6><b>Friperie</b></h6>

                                                    <ul class="list_of_links">

                                                        {% for subcat in cat.subCategory%}

                                                            <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr,
                                                                    'sub': subcat.libelleFr, 'quality': 'medium_quality'}) }}">{{ subcat.libelleFr }}</a></li>

                                                        {% endfor %}

                                                    </ul>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <h6><b>Haut de gamme</b></h6>

                                                    <ul class="list_of_links">

                                                        {% for subcat in cat.subCategory%}

                                                            <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr, 'sub': subcat.libelleFr, 'quality': 'best_quality'}) }}">
                                                                    {{ subcat.libelleFr }}</a></li>

                                                        {% endfor %}

                                                    </ul>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <a href="#">
                                                        <img src="{{ asset('bootstrap/') }}images/s3.jpg" class="img-fluid" alt="" width="360px">
                                                    </a>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                            </div><!--/ .mega_menu-->

                                            <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->
                                        </li>
                                    {% elseif cat.id == 2 %}
                                        <li class="has_megamenu animated_item">

                                            <a href="{{ path('view_product_by_category', {'slug':cat.libelleFr|lower}) }}">{{ cat.libelleFr|capitalize }}</a>

                                            <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                            <div class="mega_menu type_2 clearfix">

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <h6><b>Friperie</b></h6>

                                                    <ul class="list_of_links">

                                                        {% for subcat in cat.subCategory%}

                                                            <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr, 'sub': subcat.libelleFr, 'quality': 'medium_quality'}) }}">{{ subcat.libelleFr }}</a></li>

                                                        {% endfor %}

                                                    </ul>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <h6><b>Haut de gamme</b></h6>

                                                    <ul class="list_of_links">

                                                        {% for subcat in cat.subCategory%}

                                                            <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr, 'sub': subcat.libelleFr, 'quality': 'best_quality'}) }}">
                                                                    {{ subcat.libelleFr }}</a></li>

                                                        {% endfor %}

                                                    </ul>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <a href="#">
                                                        <img src="{{ asset('bootstrap/') }}images/s1.jpg"
                                                             class="img-fluid" alt="" width="360px">
                                                    </a>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                            </div><!--/ .mega_menu-->

                                            <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->
                                        </li>
                                    {% elseif cat.id == 3 %}
                                        <li class="has_megamenu animated_item">

                                            <a href="{{ path('view_product_by_category', {'slug':cat.libelleFr|lower}) }}">{{ cat.libelleFr|capitalize }}</a>

                                            <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                            <div class="mega_menu type_2 clearfix">

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->
                                                <div class="mega_menu_item">
                                                {# <div cla $tabQte []  = $quantity;ss="mega_menu_item"> #}

                                                    <h6><b>Friperie</b></h6>

                                                    <ul class="list_of_links">

                                                        {% for subcat in cat.subCategory%}

                                                            <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr, 'sub': subcat.libelleFr, 'quality': 'medium_quality'}) }}">
                                                                    {{ subcat.libelleFr }}</a></li>

                                                        {% endfor %}

                                                    </ul>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <h6><b>Haut de gamme</b></h6>

                                                    <ul class="list_of_links">

                                                        {% for subcat in cat.subCategory%}

                                                            <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr, 'sub': subcat.libelleFr, 'quality': 'best_quality'}) }}">
                                                                    {{ subcat.libelleFr }}</a></li>

                                                        {% endfor %}

                                                    </ul>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu_item">

                                                    <a href="#">
                                                        <img src="{{ asset('bootstrap/') }}images/s2.jpg"
                                                             class="img-fluid" alt="" width="360px">
                                                    </a>

                                                </div><!--/ .mega_menu_item-->

                                                <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                            </div><!--/ .mega_menu-->

                                            <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->
                                        </li>

                                        {% elseif cat.id == 4 %}

                                            <li class="has_megamenu animated_item">

                                                <a href="{{ path('view_product_by_category', {'slug':cat.libelleFr|lower}) }}">{{ cat.libelleFr|capitalize }}</a>

                                                <!-- - - - - - - - - - - - - - Mega menu - - - - - - - - - - - - - - - - -->

                                                <div class="mega_menu type_2 clearfix">

                                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                    <div class="mega_menu_item">

                                                        <h6><b>Friperie</b></h6>

                                                        <ul class="list_of_links">

                                                            {% for subcat in cat.subCategory%}

                                                                <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr, 'sub': subcat.libelleFr, 'quality': 'medium_quality'}) }}">{{ subcat.libelleFr }}</a></li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div><!--/ .mega_menu_item-->

                                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                    <div class="mega_menu_item">

                                                        <h6><b>Haut de gamme</b></h6>

                                                        <ul class="list_of_links">

                                                            {% for subcat in cat.subCategory%}

                                                                <li><a href="{{ path('view_product_by_cat_and_sub_quality', {'cat': cat.libelleFr, 'sub': subcat.libelleFr, 'quality': 'best_quality'}) }}">
                                                                        {{ subcat.libelleFr }}</a></li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div><!--/ .mega_menu_item-->

                                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Mega menu item - - - - - - - - - - - - - - - - -->

                                                    <div class="mega_menu_item">

                                                        <a href="#">
                                                            <img src="{{ asset('bootstrap/') }}images/s4.jpg" class="img-fluid" alt="" width="360px">
                                                        </a>

                                                    </div><!--/ .mega_menu_item-->

                                                    <!-- - - - - - - - - - - - - - End of mega menu item - - - - - - - - - - - - - - - - -->

                                                </div><!--/ .mega_menu-->

                                                <!-- - - - - - - - - - - - - - End of mega menu - - - - - - - - - - - - - - - - -->
                                            </li>

                                    {% endif %}

                                {% endfor %}
                            {% endif %}

                        </ul>

                        <!-- - - - - - - - - - - - - - End of main navigation - - - - - - - - - - - - - - - - -->

                    </div><!--/ .nav_item-->

                    <!-- - - - - - - - - - - - - - End of navigation item - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Navigation item - - - - - - - - - - - - - - - - -->

                    <div class="nav_item">

                        <nav class="main_navigation">

                            <ul>

                                <li><a href="{{ path('home_index') }}">Accueil</a></li>
                                <li>
                                    <a href="{{ path('view_product_by_category', {'slug': 'homme'}) }}">
                                        <img src="{{ asset('bootstrap/icone/man.png') }}" alt="" width="25px" style="margin-top: -4px"> <span>Univers Homme</span></a>
                                </li>
                                <li>
                                    <a href="{{ path('view_product_by_category', {'slug': 'femme'}) }}">
                                        <img src="{{ asset('bootstrap/icone/woman.png') }}" alt="" width="25px" style="margin-top: -4px">
                                        <span>Univers Femme</span></a>

                                </li>
                                <li><a href="{{ path('view_product_by_category', {'slug': 'enfant'}) }}">
                                        <img src="{{ asset('bootstrap/icone/child.png') }}" alt="" width="25px" style="margin-top: -4px">
                                        <span>Univers Enfant</span></a></li>
                                <li><a href="{{ path('view_product_by_category', {'slug': 'sport'}) }}">
                                        <img src="{{ asset('bootstrap/icone/sport.png') }}" alt="" width="25px" style="margin-top: -4px">
                                        <span>Univers Sport</span>
                                    </a></li>
                                <!--
                                <li><a href="shop_shopping_cart.html">A propos</a></li>-->

                            </ul>

                        </nav><!--/ .main_navigation-->

                    </div>

                    <!-- - - - - - - - - - - - - - End of navigation item - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Navigation item - - - - - - - - - - - - - - - - -->

                    {% if app.user is defined and app.user is not null %}

                        <div class="nav_item size_4">

                            <span class="current open_" id="user"><i class="fas fa-user fa-2x" style="margin-top: 15px; cursor: pointer"></i><span class="caret"></span></span>
                            <ul class="dropdown site_setting_list language">
                                {% if app.user.roles.0 in ['ROLE_PARTNER', 'ROLE_ADMIN', 'ROLE_SUPER_ADMIN'] %}
                                    <li class="animated_item"><a href="{{ path('admin_index') }}">Mon compte</a></li>
                                {% endif %}
                                <li class="animated_item"><a href="{{ path('logout') }}">Déconnexion</a></li>
                            </ul>

                        </div><!--/ .nav_item-->
                    {% endif %}

                    <div class="nav_item size_4">

                        <a href="{{ path('my_wishlist') }}" id="heart" class="wishlist_button" data-amount="{{ nbfavori }}"></a>

                    </div><!--/ .nav_item-->

                    <!-- - - - - - - - - - - - - - End of main navigation - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Navigation item - - - - - - - - - - - - - - - - -->

                    <div class="nav_item size_3">

                        <a href="{{ path('my_cart') }}">

                            <button id="open_shopping_cart" style="margin-top: 15px" data-amount="{{ nbprod }}">
                                <b class="title">Panier</b>
                            </button>
                        </a>

                    </div><!--/ .nav_item-->

                    <!-- - - - - - - - - - - - - - End of navigation item - - - - - - - - - - - - - - - - -->

                </div><!--/ .sticky_inner -->

                <!-- - - - - - - - - - - - - - End of sticky container - - - - - - - - - - - - - - - - -->

            </div><!--/ [col]-->

        </div><!--/ .row-->

    </div><!--/ .container-->

</div><!--/ .main_navigation_wrap-->
